.desktopJobShowDetails {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 10% 88%;
  min-height: 100%;

  .desktopSkillsComponent, .jobShow_actionButtons {
    border-bottom: 1px solid var(--init-mint);
  }
  .desktopSkillsComponent {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    background-color: white;
    padding-left: 3vw;
  }

  .jobShow_actionButtons {
    grid-column: 2;
    width: 100%;
    grid-row: 1;
    background-color: white;
    justify-self: center;
    & > * {
      background-color: var(--init-mint);
      height: 100%;
      width: 95%;
      text-align: center;
      font-size: 26px;
      // display: grid;
      align-items: center;
      &:hover {
        color: var(--init-gold);
        cursor: pointer;
      }
    }
    & button {
      &:first-of-type {
        justify-self: right;
      }
      &:last-of-type {
        justify-self: left;
      }
    }

    &_applied,
    &_apply,
    &_edit {
      display: grid;
    }
  }

  &_text {
  
    grid-column: span 2;
    grid-row: 2;
    width: 100%;
    display: flex;
    min-height: 100%;
    grid-template-rows: auto;
    &_header {
      width: fit-content;
      font-size: 20px;
      font-weight: 600;
      // border-bottom: 1px solid black;
    }

    &_details {
      border: 1px solid var(--init-mint);
      grid-column: 1;
      margin: 3vh 0 3vh 1vw;
      border-radius: 10px;
      padding: 0vh 2vw 2vh 2vw;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      // row-gap: 5%;
      height: auto;
      background-color: white;

      & hr {
        border: .5px solid var(--init-mint);
        height: 0;
        width: 100%;
        justify-self: center;
      }
      &_description,
      &_tasks, &_company {
        display: flex;
        flex-direction: column;
        justify-content: left;
        row-gap: 2vh;

        &_content {
          list-style-position: outside;
          font-size: 18px;
          & li {
            margin-bottom: 2vh;
          }
        }
      }
    }
 
  }
  &_backButton {
    font-size: 22px;
    align-self: flex-end;
    justify-self: right;
    margin: 0 1vw 1vh 0;
    & span {
      margin-left: 1vw;
      text-decoration: underline;
    }
    &:hover {
      cursor: pointer;
      color: var(--init-darkmint);
    }
  }

}
