.desktopJobShowDetails {
  padding-left: 1vw;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 15% 85%;
  // row-gap: 1%;
  background-color: white;
  // height: 100%;
  height: max-content;
  min-height: 100%;
  // padding-bottom: 2vh;
 

  .desktopSkillsComponent {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }

  .jobShow_actionButtons {
    grid-column: 2;
    width: 100%;
    grid-row: 1;
    background-color: var(--init-mint);

    &_notSignedIn, &_applied, &_apply, &_edit {
        &:hover {
          color: var(--init-gold);
          cursor: pointer;
        }
    }
  }

  &_text {
    grid-column: span 2;
    grid-row: 2;
    width: 100%;
    // justify-self: center;
    display: grid;
    grid-template-columns: 65% 32%;
    column-gap: 3%;
    border-top: 1px solid var(--init-mint);
    grid-template-rows: auto 5vh;
    &_header {
  
      width: fit-content;
      font-size: 20px;
      font-weight: 600;
    }

    &_details {
      grid-column: 1;
      padding-top: 6vh;
      display: flex;
      flex-direction: column;
      row-gap: 8%;
      height: auto;
  
      & hr {
        border: .5px solid var(--init-mint);
        height: 0;
        width: 100%;
        justify-self: center;

      }
      &_description,
      &_tasks {
        display: flex;
        flex-direction: column;
        justify-content: left;
        row-gap: 2vh;

        &_content {
          list-style-position: outside;
          font-size: 18px;
          & li {
            margin-bottom: 2vh;
          }
        }
      }
    
       
      
    
    }
    &_aside {
      grid-column: 2;
      grid-row: span 2;
      margin-top: 5vh;
      margin-bottom: 5vh;
      padding-top: 1vh;
      // height: 80%;
      display: grid;
      grid-template-rows: auto;
      align-items: center;
      justify-items: center;
      border-left: 1px solid var(--init-mint);
      // background-color: var(--init-gray-background);
      padding-left: 1vw;
     
     
    }
  }

  &_backButton {
    grid-row: 2;
    font-size: 19px;
    align-self: center;
    // justify-self: right;
    & span {
      margin-left: 1vw;
      text-decoration: underline;
    }
    &:hover {
      cursor: pointer;
      color: var(--init-darkmint);
    }
    
    
  }
}
