.jobFormTasks {
    width: 95%;
        display: grid;
        max-height: 15vh;
        position: relative;

    &_header {
        grid-row: 3;
        font-size: 16px;
          display: grid;
          grid-template-columns: 40% 50% 10%;
          width: 100%;
          height: fit-content;

          & > * {
            position: relative;
          }

          & span:nth-child(2) {
            justify-self: right;
            top: 0.2vh;
            // margin-right: 2vw;
            color: var(--init-blue);
          }

          &_req {
            font-style: italic;
            font-size: 12px;
            color: var(--init-rust);
            top: 0.5vh;
            // right: 1.5vh;
          }

          & svg {
            top: 0.1vh;
            justify-self: right;
          }
    }

    &_container {
      border-bottom: 1px solid var(--init-blue);
      width: 100%;
      max-height: 20vh;
      overflow-x: hidden;
      display: grid;
      grid-auto-rows: 7vh;

      &_line,
      &_remove {
        grid-column: span 2;
        position: relative;
      }
      &_line {
        width: 100%;
        & label {
          display: grid;
          grid-template-columns: 85% 10%;
          width: 100%;
          margin-left: 1vw;
        }
      }

      & input[type="text"] {
        height: 3vh;
        font-size: 15px;
        grid-column: 1;
      }
      .jobFormPage_label {
        grid-column: 1;
        grid-row: 2;
      }
    }
}

.dark .jobFormTasks {
  &_header {
    & span:nth-child(2) {
      color: var(--init-background);
    }
    & svg {
      fill: var(--init-gold);
    }
  }
}