.job-show {
  display: grid;
  grid-template-rows: 20vh 7vh 55vh 8vh;
  row-gap: .5vh;
  justify-items: left;
  height: 92vh;
  width: 100%;
  color: #1d262b;
  padding-bottom: 2vh;
}

.hide {
  display: none;
}
.job-disclaimer {
  font-size: 16px;
  margin-left: 3px;
  padding: 3px 0px;
  position: relative;
  bottom: 0.5vh;
 font-weight: 600;
}

.job-show-header {
  width: 94%;
  justify-self: center;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 60% 35% 5%;
  align-items: center;
  justify-items: left;
  padding: 1vh 0;
}

.jobShow_header_logo{
  height: 50px;
  grid-column: 1;
  grid-row: 1;
  margin-left: 3vw;
}

.jobShow_header_border-bottom {
  grid-column: span 2;
  grid-row: 3;
  margin-top: 2vh;
  border-top: 2px solid var(--init-blue);
  width: 94%;
  justify-self: center;
  height: 0;
}

.jobShow_header_details {
  grid-column: 2;
  grid-row: 1;
}

.jobShow_header_details_title {
  font-size: 24px;
  padding: 1vh 0;
  margin-left: 3vw;
}

.jobShow_header_details_company {
  width: fit-content;
  height: 100%;
  display: flex;
  column-gap: 8px;
  font-size: 18px;
  margin-left: 3vw;
}

.jobShow_header_details svg {
  position: relative;
  top: .8vh;
}

.jobShow_header_options {
  grid-column: 2;
  grid-row: 2;
  width: 94%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  font-weight: 600;
  margin-top: 1vh;
}

.job-show-remote {
  grid-column: 1;
  justify-self: left;
  color: black;
  background-color: var(--init-gold);
  width: 20vw;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  font-size: 14px;
  margin-left: 3vw;
}

.job-show-header-apply, .job-show-header-applied {
  all: unset;
  grid-column: 2;
  justify-self: right;
  color: var(--init-blue);
  font-size: 26px;
}

/* .job-show-header-applied {
  all: unset;
  color: var(--init-blue);
  font-size: 26px ;
} */

/* .job-show-edit svg {
  margin-left: 2vw;
} */

.job-show .skills-component {
  grid-row: 2;
  width: 100%;
  padding: 5px 0px;
}

.job-show .skills-component svg {
  height: 2em;
  width: 2em;
}

.job-show-details {
  grid-row: 3;
  display: grid;
  grid-template-rows: auto;
  row-gap: 1vh;
  width: 94%;
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  justify-items: left;
  text-align: left;
  margin: 0 2vw;
  padding: 1vh 0;
  padding-bottom: 3vh;
  border-bottom: var(--init-blue) 2px solid;
}

.job-show-description {
  display: grid;
  width: 92%;
  justify-self: center;
}

.job-show-role-list {
  display: grid;
  grid-template-rows: auto;
}

.job-show-details li {
  width: 100%;
  list-style-position: outside;
  padding-left: 0.2em;
}

.job-show-label {
  font-weight: 700;
  font-size: 20px;
  border-bottom: var(--init-mint) 1px solid;
  margin-bottom: 5px;
  grid-row: 1;
  grid-column: 1;
  width: fit-content;
  height: fit-content;
}

.job-show-apply {
  all: unset;
  justify-self: center; 
  font-size: 34px;
  font-weight: 600;
  color: var(--init-blue);
  height: 100%;
}

.job-show-applied {
  width: fit-content;
  height: fit-content;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: var(--init-blue);
}


/* DARK MODE UPDATES */

.dark .job-show-details,
.dark .job-show-applied, .dark .job-show-header  {
  color: var(--init-background);
}

.dark .job-show-label,
.dark .job-show-details {
  border-bottom: var(--init-mint) 2px solid;
}
.dark .job-show-label {
  color: var(--init-gold);
}

.dark .job-show-applied svg {
  fill: var(--init-mint);
}
.dark .job-show-applied span:first-of-type {
  color: var(--init-gold);
  /* background-color: var(--init-mint); */
  padding: 5px;
}

.dark .job-show-company svg {
  /* stroke: var(--init-mint); */
  stroke: var(--init-gold);
}
.dark .job-show-location svg {
  /* fill: var(--init-mint); */
  fill:var(--init-gold)
}
.dark .job-show-remote {
  /* background-color: var(--init-dark);
  color: var(--init-background);
  border: 1px solid var(--init-mint); */
  background-color: var(--init-mint);
}
.dark .job-show-header-applied {
  /* background-color: var(--init-mint); */
  color: var(--init-gold);
}
.dark .job-show-header-border-bottom {
  border-color: var(--init-mint);
}
.dark .job-show .skills-component {
  background-color: var(--init-background);
  width: 90%;
  margin: 6px 0px;
  align-self: center;
  justify-self: center;
  border-radius: 20px;
  border: var(--init-mint) 2px solid;
}
.dark .job-show-apply, .dark .job-show-header-apply {
  color: var(--init-gold);
}

/* BONUS */
.bonus-job .app-header {
  background-image: url("https://thumbs.gfycat.com/AliveAdmirableEidolonhelvum-max-1mb.gif");
}

.bonus-show {
  background-color: black;
  color: #00ff41;
  grid-row: 2;
  grid-column: span 2;
  grid-row: 2/6;
  height: 3vh;
  width: fit-content;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  padding: 0px 10px;
  border-right: 0.15em solid grey;
  white-space: nowrap;
  width: 12em;
  animation: type 10s steps(60, end);
}

.dark .bonus-job .app-header {
  color: var(--init-background);
}
@keyframes type {
  from {
    width: 0;
  }
}

