.job-card {
  background-color: white;
  background: linear-gradient(
    90deg,
    rgb(83, 215, 199) 55%,
    rgba(12, 189, 189, 1) 100%
  ); 
  color: var(--init-charcoal);
  border-radius: 14px;
  width: 100%;
  height: inherit;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10% 30% 25% 35%;
  align-items: center;
  justify-items: left;
  padding: .5vw;
}

.job-card-logo {
  height: 50px;
  max-width: 80px;
  grid-column: 2;
  grid-row: 2/5;

  /* position: relative;
  right: 5vw; */
 

  

}

.job-card-details {
  grid-column: 1/3;
  grid-row: 2;
  height: 100%;
  width: 100%;
  align-items: center;
  display: grid;
  grid-auto-rows: 2.7vh;
  /* row-gap: 0.5vh; */
  margin-left: 1vw;
}

.job-card-title {
  font-size: 21px;
  font-weight: 600;
  /* margin-top: 1vh; */
  /* grid-row: 1; */
  /* grid-column: 2/4; */
  /* margin-left: 3vw; */
}

.job-card-location {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  column-gap: 3vw;
  align-items: center;
  color: var(--init-faded-gray);
  font-weight: 100;
  font-size: 15px;
  margin-top: 1vh;
}

.job-card-location svg {
  height: .5em;
  width: .5em;
}

.job-card-company {
  font-size: 16px;
  font-weight: 100;
}

/* .job-card-location {
  grid-column: 1;
  grid-row: 3;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  justify-items: left;
  align-items: center;
} */
.job-card-city {
  /* grid-column: 2; */
  /* color: var(--init-faded-gray);
  font-weight: 100; */
  /* font-size: 16px; */
}

.job-card-remote {
  text-indent: unset;
  padding-left: unset;
  grid-column: 1;
  grid-row: 3;
  /* font-size: 14px; */
  /* font-weight: 600; */
  height: fit-content;
  width: fit-content;
  padding: 2px 4px;
  background-color: var(--init-gold);
  border-radius: 20px;
  /* justify-self: left;
  align-self: flex-end; */
  /* margin-right: 2vw; */
}

/* .job-card-company, */
/* .job-card-title, */
/* .job-card-logo, */
.job-card-details,
.job-card-skills,
.job-card-location
 {
  /* padding-left: 10px; */
  margin-left: 3vw;
}

.job-card-skills {

  justify-self: left;
  grid-column: 1;
  grid-row: 4;
  width: 60%;
  height: 50%;

  /* position: relative;
  bottom: .5vh; */
  padding: .5vh;
  border-radius: 20px;
  background-color: white;
  /* background: linear-gradient(
    90deg,
    rgb(83, 215, 199) 55%,
    rgba(12, 189, 189, 1) 100%
  ); */

}
.job-card-skills .skills-component {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 5vw;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center; */
}
.job-card-skills svg {
  height: 1.4em;
  width: 1.4em;
}

/* DARK MODE */
.dark .job-card {
  border: 2px solid var(--init-mint);
}
