.jobShow {
  display: grid;
  grid-template-rows: 21vh 6vh 55vh 8vh;
  row-gap: .5vh;
  justify-items: left;
  height: 92vh;
  width: 100%;
  color: var(--init-charcoal);
  padding-bottom: 2vh;

    &_header {
      width: 94%;
      justify-self: center;
      display: grid;
      grid-template-columns: 20% 80%;
      grid-template-rows: 60% 35% 5%;
      align-items: center;
      justify-items: left;
      padding: 1vh 0;

      &_logo {
        height: 50px;
        max-width: 60px;
        grid-column: 1;
        grid-row: 1;
        margin-left: 3vw;
    }
      &_details {
        grid-column: 2;
        grid-row: 1;

        &_title {
          font-size: 24px;
          padding: 1vh 0;
          margin-left: 3vw;
        }
        &_company {
          width: fit-content;
          height: 100%;
          display: flex;
          column-gap: 8px;
          font-size: 18px;
          margin-left: 3vw;
        }
        & svg {
          position: relative;
          top: .8vh;
          height: 8px;
          width: 8px;
          color: var(--init-mint);
        }
      }
    &_options {
      grid-column: 2;
      grid-row: 2;
      width: 94%;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      font-weight: 600;
      margin-top: 1vh;

      &_remote{
        grid-column: 1;
        justify-self: left;
        color: black;
        background-color: var(--init-gold);
        width: 20vw;
        text-align: center;
        border-radius: 20px;
        padding: 5px;
        padding-top: 7px;
        font-size: 14px;
        margin-left: 3vw;
      }
    }
    &_apply, &_applied {
      all: unset;
      grid-column: 2;
      justify-self: right;
      color: var(--init-blue);
      font-size: 26px;
    }
    &_border-bottom {
      grid-column: span 2;
      grid-row: 3;
      margin-top: 2vh;
      border-top: 2px solid var(--init-blue);
      width: 94%;
      justify-self: center;
      height: 0;
    }
  }
  &_details {
    grid-row: 3;
    display: grid;
    grid-template-rows: auto;
    row-gap: 1vh;
    width: 94%;
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    justify-items: left;
    text-align: left;
    margin: 0 2vw;
    padding: 1vh 0;
    padding-bottom: 3vh;
    border-bottom: var(--init-blue) 2px solid;

    &_description {
      display: grid;
      width: 92%;
      justify-self: center;

      &_label {
        font-weight: 700;
        font-size: 20px;
        border-bottom: var(--init-mint) 1px solid;
        margin-bottom: 5px;
        grid-row: 1;
        grid-column: 1;
        width: fit-content;
        height: fit-content;

        &_role-list {
          display: grid;
          grid-template-rows: auto;

          & li {
            width: 100%;
            list-style-position: outside;
            padding-left: 0.2em;
          }
        }
      }
    }
  }
  &_apply {
    all: unset;
    justify-self: center; 
    font-size: 34px;
    font-weight: 600;
    color: var(--init-blue);
    height: 100%;
  }
  &_applied {
    width: fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    color: var(--init-blue);
  }
}

.hide {
  display: none;
}
.job-disclaimer {
  font-size: 16px;
  margin-left: 3px;
  padding: 3px 0px;
  position: relative;
  bottom: 0.5vh;
 font-weight: 600;
}

.jobShow .skills-component {
  grid-row: 2;
  width: 100%;
  padding: 1vh 0px;
}

.jobShow .skills-component svg {
  height: 2em;
  width: 2em;
}

/* DARK MODE UPDATES */

.dark .job-show-details,
.dark .job-show-applied, .dark .job-show-header  {
  color: var(--init-background);
}

.dark .job-show-label,
.dark .job-show-details {
  border-bottom: var(--init-mint) 2px solid;
}
.dark .job-show-label {
  color: var(--init-gold);
}

.dark .job-show-applied svg {
  fill: var(--init-mint);
}
.dark .job-show-applied span:first-of-type {
  color: var(--init-gold);
  /* background-color: var(--init-mint); */
  padding: 5px;
}

.dark .job-show-company svg {
  /* stroke: var(--init-mint); */
  stroke: var(--init-gold);
}
.dark .job-show-location svg {
  /* fill: var(--init-mint); */
  fill:var(--init-gold)
}
.dark .job-show-remote {
  /* background-color: var(--init-dark);
  color: var(--init-background);
  border: 1px solid var(--init-mint); */
  background-color: var(--init-mint);
}
.dark .job-show-header-applied {
  /* background-color: var(--init-mint); */
  color: var(--init-gold);
}
.dark .job-show-header-border-bottom {
  border-color: var(--init-mint);
}
.dark .job-show .skills-component {
  background-color: var(--init-background);
  width: 90%;
  margin: 6px 0px;
  align-self: center;
  justify-self: center;
  border-radius: 20px;
  border: var(--init-mint) 2px solid;
}
.dark .job-show-apply, .dark .job-show-header-apply {
  color: var(--init-gold);
}

/* BONUS */
.bonus-job .app-header {
  background-image: url("https://thumbs.gfycat.com/AliveAdmirableEidolonhelvum-max-1mb.gif");
}

.bonus-show {
  background-color: black;
  color: #00ff41;
  grid-row: 2;
  grid-column: span 2;
  grid-row: 2/6;
  height: 3vh;
  width: fit-content;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  padding: 0px 10px;
  border-right: 0.15em solid grey;
  white-space: nowrap;
  width: 12em;
  animation: type 10s steps(60, end);
}

.dark .bonus-job .app-header {
  color: var(--init-background);
}
@keyframes type {
  from {
    width: 0;
  }
}

