.job-card {
  background-color:rgba(255, 255, 255, 0.839);
  color: var(--init-charcoal) ;
  border-radius: 14px;
  width: 94%;
  height: 16vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: left;
  padding: .5vw;
}

.job-card-details {
  grid-column: 2;
  grid-row: 1;
  height: 100%;
  width: 100%;
  align-items: center;
  display: grid;
}

.job-card-title {
  font-size: 23px;
  font-weight: 900;
  grid-row: 1;
  grid-column: 1;
  margin-left: 0px;
}

.job-card-company {
  font-size: 20px;
  font-weight: 100;
}

.job-card-location {
  grid-column: 1;
  grid-row: 3;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  justify-items: left;
  align-items: center;
}
.job-card-city {
  grid-column: 1;
  color: rgb(79, 77, 77);
  font-weight: 100;
  font-size: 16px;
}

.job-card-remote {
  text-indent: unset;
  padding-left: unset;
  font-size: 14px;
  font-weight: 600;
  height: fit-content;
  width: fit-content;
  padding: 2px 4px;
  background-color: #ffde59c7;
  border-radius: 20px;
  justify-self: center;
}

.job-card-company,
.job-card-title,
.job-card-location{
  padding-left: 10px;
}

.job-card-skills {
  justify-self: center;
  grid-column: 1;
  width: 90%;
  height: 80%;
  border-radius: 10px;
  background-color: var(--init-background);
  background: radial-gradient(circle, rgba(222,239,249,1) 55%, rgba(65,205,188,1) 100%);
}
.job-card-skills .skills-component {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.job-card svg {
  height: 1.7em;
  width: 1.7em;
}
