.jobsIndex {
  display: grid;
  /* grid-template-rows: auto fit-content ; */
  grid-auto-rows: min-content;
  row-gap: 1vh;
  justify-items: center;
  height: 85vh;
  padding-bottom: 5vh;
  width: 100%;
}

.jobListings {
  height: 100%;
  grid-row: 2;
  width: 95%;
  row-gap: 2vh;
}

.jobsIndex a {
  width: 90%;
  height: 15vh;
  color: var(--init-charcoal);
  border-radius: 20px;
}
