.job-card {
  background-color: white;
  color: var(--init-charcoal);
  border-radius: 14px;
  width: 100%;
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 2.2fr;
  align-items: center;
  justify-items: left;
  padding: 0.5vw;
}

.job-card-details {
  grid-column: 2;
  grid-row: 1;
  height: 80%;
  width: 100%;
  align-items: center;
  display: grid;
  row-gap: 0.5vh;
}

.job-card-title {
  font-size: 22px;
  font-weight: 600;
  grid-row: 1;
  grid-column: 1;
}

.job-card-company {
  font-size: 20px;
  font-weight: 100;
}

.job-card-location {
  grid-column: 1;
  grid-row: 3;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  justify-items: left;
  align-items: center;
}
.job-card-city {
  grid-column: 1;
  color: var(--init-faded-gray);
  font-weight: 100;
  font-size: 16px;
}

.job-card-remote {
  text-indent: unset;
  padding-left: unset;
  font-size: 14px;
  font-weight: 600;
  height: fit-content;
  width: fit-content;
  padding: 2px 4px;
  background-color: var(--init-gold);
  border-radius: 20px;
  margin-right: 2vw;
}

.job-card-company,
.job-card-title,
.job-card-location {
  padding-left: 10px;
}

.job-card-skills {
  justify-self: center;
  grid-column: 1;
  width: 100%;
  height: 85%;
  border-radius: 10px;
  background-color: var(--init-mint);
  background: linear-gradient(
    90deg,
    rgb(83, 215, 199) 55%,
    rgba(12, 189, 189, 1) 100%
  );
  position: relative;
  right: 4vw;
}
.job-card-skills .skills-component {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.job-card svg {
  height: 2em;
  width: 2em;
}

/* DARK MODE */
.dark .job-card {
  border: 2px solid var(--init-mint);
}
