.jobsIndex {
  display: grid;
  grid-template-rows: auto 60vh;
  grid-auto-rows: min-content;
  row-gap: 15px;
  justify-items: center;
  overflow-y: scroll;
  overflow-x:hidden;
  height: 90vh;
}

.jobsIndex a {
  width: 90%;
  color: var(--init-charcoal);
}
