.searchComponent {
    display: grid;
    grid-template-rows: 7vh auto;
    row-gap: .5vh;
    width: 100%;

    &_searchBar {
        &_label {
            grid-row: 1;
            display: flex;
        }

        &_logo {
            height: 35px;
            position: relative;
            left: 4vw;
            top: .9vh;
            z-index: 10;
        }

        &_input {
            width: 85%;
            height: 5vh;
            text-indent: 9vw;
            font-size: 20px;
            position: relative;
            right: 3vw;
            margin-top: 1vh;
        }
        &_filterIcon {
            position: relative;
            right: 11vw;
            top: 2vh;
            height: 2.2em;
            width: 2.2em;
            color: var(--init-blue);
        }
    }

    &_submit {
        all: unset;
        width: fit-content;
        margin-left: 6vw;
        font-weight: 600;
        color: var(--init-blue);
        font-size: 22px;
    }
}


/* DARK MODE */
.dark .searchComponent {
    &_searchBar {
        &_input {
            color: var(--init-background);
            &::placeholder {
                color: var(--init-background);
            }
        }
        &_filterIcon {
            color: var(--init-gold);
        }
    }
    
    &_submit {
        color: var(--init-gold);
    }
    
}

