.search-component {
    display: grid;
    grid-template-rows: 8vh auto;
    row-gap: .5vh;
    width: 100%;

}

.search-component .search-bar-label {
    grid-row: 1;
    display: flex;
} 

.search-bar-logo {
    height: 35px;
    position: relative;
    left: 4vw;
    top: .9vh;
    z-index: 10;
}
.searchbar {
    width: 85%;
    height: 5vh;
    text-indent: 9vw;
    font-size: 20px;
    position: relative;
    right: 3vw;
    margin-top: 1vh;
}

/* DARK MODE */
.dark .searchbar::placeholder{
    color: var(--init-background);
}
.dark .searchbar:focus {
    background-color: var(--init-dark);
}
.dark .searchbar {
    color: var(--init-background);
}