.search-component {
    display: grid;
    grid-template-rows: 6vh auto;
    row-gap: 1vh;
    width: 100%;
    min-height: 8vh;

}

.search-component .search-bar-label {
    grid-row: 1;
    display: flex;
} 

.search-bar-logo {
    height: 35px;
    position: relative;
    left: 4vw;
    top: .9vh;
    z-index: 10;
}
.searchbar {
    width: 85%;
    height: 4vh;
    text-indent: 9vw;
    font-size: 20px;
    position: relative;
    right: 3vw;
    margin-top: 1vh;
}
