.recruiterTopJobs {
  padding: 0.5vh 1vh;
  padding-right: 1vh;
  width: 24vw;
  height: 13vh;
  border-radius: 10px;
  border: 1px solid var(--init-recruiter-blue);
  display: grid;
  grid-template-columns: 15% 85%;
  column-gap: 1vw;
  grid-template-rows: fit-content;
  align-items: center;
  row-gap: 0.5vh;

  & img {
    height: 45px;
  }

  &_details {
    display: flex;
    flex-direction: column;
    row-gap: 0.5vh;
    &_title {
      font-size: 18px;
    }
  }

  &_applicants {
    grid-column: 2;
    justify-self: right;
    padding-right: 2vw;
  }
}

/* @media (min-width: 450px)  {
  .recruiterTopJobs {
    text-indent: 0;
    width: 15vw;
    height: 13vh;
    column-gap: 2vw;
    grid-template-rows: 40% 35% 20%;

    &_title {
    width: 95%;
    }

    &_logo {
      height: 35px;
    }
    &_applicants {
      & span {
        margin-left: 1vw;
      }
    }
  }
} */
