.recruiterTopJobs {
  text-indent: 0.5vw;
  padding: 0.5vh 1vh;
  padding-right: 2vh;
  // min-width: 38vw;
  width: 50vw;
  height: 15vh;
  border-radius: 10px;
  // background: linear-gradient(
  //   90deg,
  //   rgb(83, 215, 199) 55%,
  //   rgba(12, 189, 189, 1) 100%
  // );
  background-color: #b3daf1;
  // border: 1px solid var(--init-darkmint);
  display: grid;
  align-items: center;
  grid-template-columns: 55% 45%;
  column-gap: 3vw;
  grid-template-rows: 50% 25% 20%;
  row-gap: .5vh;

  & a {
    // color: var(--init-gold);
  }

  &_title,
  &_company,
  &_city {
    grid-column: span 2;
    font-size: 15px;
  }
  &_title {
    grid-row: 2;
    font-size: 16px;
    
  }
  &_company {
    grid-row: 3;
    font-weight: 100;
    color: var(--init-faded-gray);
    align-self: flex-start;
  }
  &_city {
    grid-row: 4;
  }
  &_logo {
    height: 45px;
    background-color: #def9f6;
    border-radius: 10px;
    padding: .6vh;
  }
  &_applicants {
    font-size: 22px;
    justify-self: center;
    & > * {
      position: relative;
    }
    & span {
      bottom: 0.4vh;
      right: 1vw;
    }
    & svg {
      top: 0.5vh;
      height: 1em;
      width: 1em;
    }
  }
}
