.desktopHome {
    display: grid;
    align-items: center;
    margin: 2vw;
    padding: 2vw ;

    &_header {
        display: grid;
        grid-template-columns: 45% 55%;
        width: 100%;

        &_left {
            & span {
                font-size: 32px;
            }
            & li {
                padding: 2vh 0;
                display: grid;
                grid-template-columns: 5% 95%;
                align-items: center;
                row-gap: 1vh;

                & svg {
                    grid-column: 1;
                    grid-row: 1/3;
                    fill: var(--init-darkmint);
                    // align-self: center;
                }
                & h4 {
                    grid-column: 2;
                    grid-row: 1;
                }
                & p {
                    grid-column: 2;
                    grid-row: 2;
                    color: var(--init-subheader-grey);
                    font-size: 14px;
                }
            }
        }
        &_right {
            height: 100%;
            background-image: url("../../../../../public/desktop-header.jpg");
            background-size: cover;
            
            &_container {
                background-color: var(--init-black-transparent);
                padding: 5px 10px 5px 0;
                border-radius: 5px;
                height: 97%;
                
                & img {
                    height: 200px;
                }

                &_content {
                    display: grid;
                    row-gap: 1.5vh;
                    & h3 {
                        color: var(--init-gold);
                        font-size: 24px;
                    }
                    & p {
                        color: white;
                        font-size: 18px;
                    }
                }
            }

        }
    }
}