.desktopHome {
  // background-color: yellow;
  display: grid;
  grid-template-rows: 20% 50% 30%;
  row-gap: 10%;
  justify-items: center;
  height: 100%;
  padding: 5vh 0;
  

  &_header {
    // border: 1px solid red;
    width: 75%;
    height: 220px;
    align-self: center;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 70% 30%;
    align-items: center;

    &_logo {
      height: 200px;
      grid-column: 1;
      grid-row: 1/3;
    }

    &_text {
      grid-column: 2;
      grid-row: 1;
      display: grid;
      row-gap: 10%;
    }

    &_button {
      all: unset;
      text-align: center;
      width: 200px;
      padding: 5px;
      border-radius: 20px;
      background: linear-gradient(
        90deg,
        rgb(83, 215, 199) 55%,
        rgba(12, 189, 189, 1) 100%
      );
    }
  }

  &_content_init {
    width: 85%;
    height: 60vh;
    border-radius: 20px;
    background-color: var(--init-mint);
    display: grid;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    justify-items: center;

    &_stock2 {
      height: 200px;
      border-radius: 10px;
    }

    &_question {
      font-weight: 600;
      font-size: 35px;
      // margin-left: 30px;
      font-family: "Cabin";
      color: var(--init-gold);
      // border: 1px solid red;
    }

    &_answer {
        width: 95%;
        display: grid;
        row-gap: 5%;
        font-size: 16px;
        & li {
          font-family: Poppins;
        }
        
    }

    &_one, &_two {
      grid-row: 1;
      display: flex;
      width: 90%;
      column-gap: 40px ;
      &_text {
        max-width: 70%;
      }
    }
    &_two {
      grid-row: 2;
      
    }
  }
}
