.jobFormDataList {
    display: grid;
    height: fit-content;

    & span {
        grid-row: 2;
    }

    & input {
        height: 30px;
        font-size: 16px;
        width: 100%;
        border-right: none;
        border-left: none;
        border-top: none;
        background-color: var(--init-background);

        &:focus {
            background-color: var(--init-background);
        }
    }

    & datalist {
        background-color: var(--init-background);

        &:focus {
            background-color: var(--init-background);
        }
    }
}

.dark .jobFormDataList {
    & input {
        background-color: var(--init-dark);
        color: white;
        border-color: var(--init-darkmint);
        
        &::placeholder {
            color: var(--init-background);
            font-style: italic;
        }
    }
   
}