.applicantFormTwo {
  // grid-row: 1/5;
  // background-color: red;
  width: 100%;
  margin-top: 5vh;
  // padding-top: 1vh;
  grid-template-rows: 6vh 92vh;

  &_header {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vh;
    align-items: center;
    position: relative;
    bottom: 5vh;

    & a {
      text-transform: uppercase;
      font-size: 18px;
      color: var(--init-blue);
    }
    & span {
      font-size: 13px;
      font-weight: 600;
    }
  }
  &_form {
    // grid-row: 2;
    // background-color: red;
    display: grid;
    align-items: center;
    grid-template-rows: 13vh 38vh 24vh 7vh;
    // background-color: var(--init-background);
    row-gap: 1vh;
    width: 100%;
    margin-bottom: 2vh;

    & > * {
      margin: 0 1vw;
    }
    & > * input,
    textarea {
      font-size: 18px;
    }

    & > *input::placeholder,
    & textarea::placeholder {
      font-size: 16px;
    }

    & > * input {
      width: 90%;
    }
    &_input {
      &_textarea_label {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &_text {
          grid-column: 1;
          grid-row: 2;
          font-size: 14px;
        }

        &_helpText {
          font-style: italic;
          font-size: 14px;
        }

        & textarea {
          grid-row: 1;
          grid-column: span 2;
          height: 8vh;
          padding: 0.5vh;
        }
      }
    }

    .projectFormInputs {
      grid-row: 2;
      display: flex;
      flex-direction: column;
      row-gap: 0.5vh;
      &_header {
        width: 98%;
      }
      & label:nth-of-type(2) {
        padding-bottom: 2vh;
      }
    }
    .skillsCheckboxes {
      grid-row: 3;
      height: 24vh;

      .skills-checkboxes {
        column-gap: 1vw;
      }
    }
    &_submitButton {
      grid-row: 4;
      font-size: 22px;
      justify-self: left;
      padding: 0;
      position: relative;
      bottom: 1vh;
    }
  }
}

.dark .applicantFormTwo {
  &_form {
    .skillsCheckboxes .skills-checkboxes {
      border-color: var(--init-gold);
    }
    &_input {
      &_textarea_label {
        & textarea {
          border-color: var(--init-gold);
          &::placeholder {
            color: var(--init-background);
          }
        }
      }
    }
    &_submitButton {
      color: var(--init-gold);
    }
  }
}
