.recruiterProfile {
  height: 92vh;
  width: 100%;
  grid-template-rows:
    12vh 1vh 7vh 60vh 8vh;
  row-gap:1vh;
  align-items: center;

  & h2 {
    font-weight: 500;
    font-size: 18px;
  }

  &_header {
    height: 100%;
    width: 100%;
    padding-top: 3vh;
    display: grid;
    align-items: center;
    justify-items: left;
    font-size: 22px;
    grid-template-columns: 1.2fr 3fr;
    grid-template-rows: 4vh 4vh 4vh;
    column-gap: 3vw;

    &_name {
      grid-column: 2;
      grid-row: 1;
      font-weight: 600;
      font-size: 24px;
      display: flex;
      align-items: center;
      column-gap: 3vw;
      & svg {
        position: relative;
        top: .5vh;
      }
    }

    &_role {
      font-size: 16px;
    }

    &_company {
      grid-column: 2;
      grid-row: 2;
      font-size: 20px;

      &_logo {
        grid-column: 1;
        grid-row: 1/4;
        height: 85px;
        justify-self: center;
        border-radius: 20px;
        max-width: 100px;
      }
    }
  }

  &_jobsPosted {
    &_header {
      grid-row: 3;
      display: grid;
      grid-template-columns: 1fr .8fr .5fr;
      width: 94%;
      justify-items: left;
      align-items: center;
      margin-top: 1vh;

      & svg {
        height: 3.2em;
        width: 3.2em;
        color: var(--init-blue);
        position: relative;
        top: .8vh;
        left: 3vw;
        
      }
      & h2 {
        height: fit-content;
      }
      & select {
        
        width: 90%;
        font-size: 17px;
        font-weight: 500;
        
      }
    }
  }

  & hr {
    border: 1px solid var(--init-darkmint);
    width: 90%;
    margin-top: 2vh;
  }

  &_jobsList {
    grid-row:4;
    width: 94%;
    display: grid;
    grid-template-rows: max-content;
    row-gap: 2vh;
    overflow-y: scroll;
    height: 55vh;
    padding: 2vh 0;
  }

  &_new-job-link {
    grid-row: 5;
    justify-self: center;
    font-size: 28px;
    width: 98%;
    text-align: center;
    border-top: 2px solid var(--init-darkmint);
    width: 90%;
    padding-top: 2vh;
  }
}

// Dark Mode

.dark .recruiterProfile {
  &_header {
    &_badge {
      & svg {
        color: white;
        background-color: black;
      }
    }
  }
  &_jobsPosted {
    &_header {
      & svg {
        color: var(--init-gold);
        // color: #0feded;
      }
    }
  }
  &_jobsList {
    // border-color: var(--init-darkmint);
    // border-color: #0feded;
  }
  &_new-job-link {
    color: var(--init-gold);
    // color: #0feded;
  }
}
// .dark .recruiter-profile-top svg {
//   fill: var(--init-background);
//   stroke: var(--init-background);
// }

// .dark .recruiter-profile-top {
//   border-color: var(--init-darkmint);
// }

// .dark .recruiter-profile-new-job {
//   color: var(--init-gold);
// }

.dark .recruiterProfile {
  // border-color: #0feded;
}

.dark .recruiterProfile a {
  // color: #0f7fed;
  // color: #0feded;
}

@media (min-width: 450px) {
  .recruiterProfile {
    &_topJobs {
      column-gap: 2vw;
      &_header {
        margin-left: 1vw;
      }
    }
    &_jobsPosted {
      &_header {
        & svg {
          left: 1.5vw;
        }
      }
    }
  }
}