.filter-bar {
  grid-row: 2;
  width: 94%;
  justify-self: center;
  display: grid;
  grid-template-columns: .7fr .5fr .5fr;
  grid-template-rows: 4vh auto;
  row-gap: .5vh;
  justify-items: center;
  font-size: 18px;
}

/* Dropdown */
.filter-bar select {
  grid-column: 1;
  grid-row: 1;
  height: 4.5vh;
  width: 100%;
  font-size: 20px;
  text-align: center;
  border: none;
  background-color: transparent;
  color: var(--init-charcoal);
  margin-right: 5vw;
}

/* remote button */
.filter-remote-button {
  all: unset;
  color: var(--init-blue);
  top: .2vh;
  right: 3vw;
  font-weight: 600;
}
.remote-clicked {
  background-color: var(--init-gold);
  border-radius: 20px;
  padding: 0 5px;
  color: var(--init-charcoal);
}

.filter-skills {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  padding-bottom: 1.6vh;
}
.filter-skills span {
  top: .9vh;
  right: 2vw;
  font-size: 20px;
}
.filter-skills svg {
  top: 1.2vh;
}


.filter-bar-arrow,
.filter-bar-arrow svg,
.remote-label,
.remote-checkbox,
.filter-bar-toggle,
.filter-bar-arrow span,
.filter-bar-skills .skills-checkboxes,
.filter-bar-skills .skills-checkboxes label span, .filter-checkbox input, .filter-checkbox span, .filter-skills svg,.filter-skills span, .filter-remote-button{
  position: relative;
}

.filter-bar-expanded {
  grid-column: span 3;
  grid-row: 2;
  width: 95%;
  border:none;
  border-top: 2px solid var(--init-mint);
  border-bottom: 2px solid var(--init-mint);
  display: grid;
  grid-template-rows: 1fr 3fr;
  row-gap: 0.5vh;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
  height: 0;
  transition: all 0.4s ease-in-out;

  background-color: rgba(126, 126, 126, 0.3);
  /* background-color: rgb(245, 245, 245); */
}

.slide-down {
  height: 21vh;
  visibility: visible;
}

.filter-bar-toggle {
  grid-row: 1;
  color: var(--init-blue);
  /* top: .5vh; */
  justify-self: center;
}
.filter-bar-toggle span {
  position: relative;
  bottom: 0.6vh;
  left: 1vw;
  font-size: 18px;
  color: var(--init-blue);
}


.filter-bar-expanded .skills-component {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: .5vh;
  justify-items: center;
  margin-bottom: .5vh;
}

.filter-bar-expanded .skills-component svg {
  height: 2em;
  width: 2em;
  /* color: rgb(124, 123, 123); */
  color: white;
}

.filter-bar-expanded .skills-checkboxes {
  height: 100%;
  grid-row: 3;
  width: 100%;
  display: grid;
  grid-template-columns:repeat(3,1fr);
  row-gap: 1.5vh;
  column-gap: 7vw;
  justify-items: center;
  /* margin-left: 2vw; */
  margin-bottom: 1vh;
}

.filter-bar-expanded .skills-checkboxes label {
  display: grid;
  grid-template-columns: .5fr 6fr;
  margin-left: 1vw;
  width: 100px;
}

.filter-bar-expanded .skills-checkboxes label input {
  height: 20px;
  width: 20px;
}
.filter-bar-expanded .skills-checkboxes label span {
  font-size: 18px;
  left: 1vw;
}


/* DARK MODE UPDATES */
.dark .filter-bar-arrow .expand-text {
  background-color: white;
}
.dark .filter-arrow-up {
  fill: var(--init-gold);
}
.dark .remote-checkbox {
  accent-color: var(--init-gold);
}

.dark .filter-bar-arrow .expand-text,
.dark .filter-bar-skills .skills-checkboxes label span {
  color: var(--init-blue);
}

.dark .filter-bar select {
  background-color: var(--init-dark);
  color: var(--init-background);
}

.dark .filter-remote-button {
  color: var(--init-gold);
}

.dark .remote-clicked {
  color: var(--init-charcoal);
}

.dark .filter-bar-toggle , .dark .filter-bar-toggle span {
  color: var(--init-gold);
}

.dark .filter-bar-expanded .skills-checkboxes label span {
  color: var(--init-background);
}

/* @media (min-width: 450px) {
  .filter-bar {
    margin-left: 4vw;
    width: 85%;
  }
  .filter-remote-button {
    right: 1vw;
  }
  .filter-bar-expanded {
    margin-right: 4vw;
    width: 115%;
  }
  .filter-bar-expanded .skills-checkboxes {
    column-gap: 1.5vw;
  }
} */