.desktopRegisterAccountType {
    display: grid;
    margin: 3vh 0 0 3vw ;

    & >*{
        position: relative;
    }
    &_header {
        display: flex;
        width: 85%;
        column-gap: 20px;
        align-items: center;
        &_logo{
            height: 120px;
        }
        & h1 {
            color: white;
            font-size: 38px;
            width: 70%;
            text-align: center;
        }
    }
    
    & h2 {
        top: 6vh;
        color: var(--init-gold);
        font-size: 36px;
    }
    &_image {
        bottom: 1vh;
        right: 1vw;
        height: 130px;
        width: 130px;
        justify-self: right;
        border-radius: 50px 0px 50px 0px;
        transform: rotate(-45deg);
        border: 3px solid var(--init-gold);
        overflow: hidden;
        &>* {
            position:relative;
            transform: rotate(45deg);
        }
        &_applicant {
            right: 6.9vw;
            bottom: 5.8vh;
            height: 190px;
            
        }
        &_recruiter {
            height: 185px;
            bottom: 6vh;
            right: 6.5vw;

        }
    }
    & ul {
        border-left: 1px solid var(--init-gold);
        width: 70%;
        bottom: 5vh;
        & li {
            position: inherit;
            margin-bottom: 3vh;
            list-style: none;
            right: 1vw;
        }
    }
    
}

.dark .desktopRegisterAccountType {
  & ul {
    & li {
        color: var(--init-background);
    }
  
  }
}