/* sliding nav link https://www.kirupa.com/react/smooth_sliding_menu_react_motion.htm */

.slideNav {
  background-color: var(--init-darkmint);
  display: grid;
  grid-column: 2;
  grid-template-rows: 20vh 5vh repeat(5, 10vh) 5vh 8vh 10vh;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-left: 20px;
  // clip-path: inset(10% 10% 10% 10%);

  &_open {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
    
  }

  &_close {
    // transform: translate3d(var(--slidenav), 0, 0); 
    transform: translate3d(100%, 0, 0); 
    // translate: (100% 0);
    clip-path: inset(100% 0%);
  }

  &_container {
    max-width: 415px;
    display: grid;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    grid-template-columns: 15% 80%;
    z-index: 100;
    transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
    animation-duration: 3s;
    // clip-path: inset(100% 50%);
  }

  &_transparent {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(83, 82, 82, 0.4);
  }

  &_header {
  
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    height: 100%;
    width: 107%;
    position: relative;
    right: 1.8vw;


    &_logo {
      grid-column: 2;
      height: 78px;
      &_container {
        display: grid;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        justify-items: center;
        width: 100%;
        background-color: var(--init-background);
        padding: 1vh 0;
      }
    }

    &_slogan {
      grid-row: 2;
      position: relative;
      font-family: Ysabeau;
      font-style: italic;
      font-size: 24px;
      color: var(--init-gold);
      width: 100%;
      text-align: center;
    }
  }

  &_closeButton {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    height: 2.5em;
    width: 2.5em;
    color: var(--init-blue);
    position: relative;
    right: 1vw;
  }

  &_divider {
    width: 90%;
    &:first-of-type {
      grid-row: 2;
    }
    &:nth-last-of-type() {
      grid-row: 8;
    }
  }

  &_link {
    color: var(--init-blue);
    font-size: 22px;
    margin-left: 2vw;
    width: fit-content;

    &_icons {
      margin-right: 6vw;
      color: var(--init-blue);
      width: 30px;
      height: 30px;
    }

    & span {
      position: relative;
      bottom: 0.7vh;
    }
  }
}

.dark .slideNav {
  &_header {
    &_logo {
      &_container {
        background-color: var(--init-dark);
      }
    }
  }
  &_closeButton {
    color: var(--init-gold);
  }
}

// @media (max-width:500px) {
//   .slideNav {
//     &_header {
//       right: 5vw;
//     }
//     &_close {
//       transform: translate3d(450px, 0, 0); 
//       clip-path: none;
//     }
//   }
// }

@media (min-width: 450px) {
  .slideNav {
    &_open {
      transform: none;
     visibility: visible;
      
    }
  
    &_close {
      transform: none;
    visibility: hidden;
    }
    &_container {
      max-width: 400px;
      left: unset;
  }

  &_link {
    margin-left: 0vw;

    &_icons {
      margin-right: 4vw;
    }
  }
}
}