.about {
  height: 88vh;
  padding-bottom: 2vh;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto .4fr 1.9fr;
  text-align: center;
}

.about h1 {
  font-size: 32px;
}

.dev-icons {
  grid-template-columns: repeat(3,1fr);
  width: 100%;
}

.devicon {
  height: 100px;
  border: 3px solid var(--init-blue);
  border-radius: 50%;
}

.dev-cards h2 {
  font-size: 20px;
  position: relative;
  bottom: 5px;
}
.dev-cards p {
  width: 90%;
  height: 180px;
  font-size: 16px;
  position: relative;
  padding: 10px;
  overflow-y: scroll;
}

.indiv-card,
.emptyState {
  border-radius: 20px;
  height: 95%;
  width: 90%;
  background-color: var(--init-mint);
}

/* EMPTY STATE */
.emptyState {
  grid-template-rows: 12% 40% 2% 35% 2% 8%;
  align-items: center;
}
.emptyState h2 {
  width: 85%;
  font-size: 22px;
}

.emptyState p {
  grid-row: 4;
  font-size: 18px;
  width: 90%;
  height: 95%;
  overflow-y: scroll;
  padding: 0 10px;
}
.emptyState img {
  height: 200px;
  border-radius: 20px;
  border: 3px solid var(--init-blue);
}
.emptyState .skills-component {
  grid-row: 6;
  height: 5vh;
  align-items: center;
}
.emptyState .skills-component svg {
  height: 1.8em;
  width: 1.8em;
}
.emptyState hr:nth-of-type(2){
  grid-row: 5;
}

.dev-socials a {
  padding: 10px 30px 10px 30px;
  font-size: x-large;
  color: #ffde59;
}

.socials-line {
  width: 90%;
  /* margin: 10px; */
  height: 1px;
}

.dev-title {
  font-style: italic;
  padding-bottom: 10px;
  font-weight: 100;
}


.devicon2 {
  height: 100px;
  border-radius: 100px;
}

.devPronoun {
  font-family: ysabeau;
  padding-bottom: 10px;
}




/* dark mode */
.dark .devicon {
  border: 3px solid var(--init-gold);
}
