.about {
  height: 88vh;
  padding-bottom: 5vh;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto .5fr 1.9fr;
  text-align: center;
}

.about h1 {
  font-size: 32px;
}

.about hr {
  width: 90%;
  height: 1px;
}

.dev-icons {
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  padding-top: 5px;
}

.devicon {
  height: 100px;
  border: 3px solid var(--init-blue);
  border-radius: 50%;
}

.dev-cards h2 {
  font-size: 20px;
  position: relative;
  bottom: 5px;
}
.dev-cards p {
  width: 90%;
  height: 180px;
  font-size: 16px;
  position: relative;
  padding: 10px;
  overflow-y: scroll;
}

.indiv-card,
.emptyState {
  border-radius: 20px;
  height: 95%;
  width: 90%;
  background-color: var(--init-mint);
}

/* EMPTY STATE */
.emptyState {
  grid-template-rows: 12% 40% 2% 35% 2% 8%;
  align-items: center;
}
.emptyState h2 {
  width: 90%;
  font-size: 22px;
}

.emptyState p {
  grid-row: 4;
  font-size: 18px;
  width: 90%;
  height: 95%;
  overflow-y: scroll;
  padding: 5px 10px;
}
.emptyState p span, .about-dj {
  font-weight: 600;
}
.about-dj{
  font-size: 18px;
  position: relative;
  bottom: 2vh;
}
.about-init {
  color: var(--init-charcoal);
}
.dark .about-init {
  color: var(--init-mint);
}
.about-react {
  color: #61DBFB;
}
.about-css {
  color: #264de4;
}
.about-express {
  color: #3c873a ;
}
.about-postgres {
  color: #0064a5;
}
.about-jwt {
  color: #F50057;
}
.about-bcrypt {
  color: rgb(115, 113, 113);
}
.emptyState img {
  height: 200px;
  border-radius: 20px;
}
.emptyState .skills-component {
  grid-row: 6;
  height: 5vh;
  align-items: center;
}
.emptyState .skills-component svg {
  height: 1.8em;
  width: 1.8em;
}
.emptyState hr:first-of-type{
  grid-row: 3;
}
.emptyState hr:nth-of-type(2){
  grid-row: 5;
}

/* DEV-CARD */
.indiv-card {
  grid-template-rows: 10% 5% 30% 5% 38% 2% 10%;
}
.indiv-card h2 {
  font-size: 30px;
}
.indiv-card h4 {
  font-size: 20px;
  font-family: Ysabeau;
}
.indiv-card img {
  height: 140px;
  border-radius: 50%;
}
.indiv-card p {
  grid-row: 5;
  width: 90%;
  font-size: 17px;
  overflow-y: scroll;
  max-height: 90%;
  padding-bottom: 5px;
}

.dev-socials {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dev-socials svg {
  height: 2.2em;
  width: 2.2em;
  fill: var(--init-gold);
}
.dev-socials .about-mail{
  height: 2.7em;
  width: 2.7em;
}

/* dark mode */
.dark .devicon {
  border: 3px solid var(--init-gold);
}
.dark .emptyState, .dark .indiv-card {
  background-color: var(--init-gold);
  color: var(--init-charcoal);
}

.dark .emptyState h2 {
  background-color: var(--init-gold);
  color: var(--init-charcoal);
  border: 2px solid var(--init-gold);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: 99%;
  height: 83%;
  padding-top: 1vh;
  align-self: center;
}

.dark .emptyState .skills-component {
  background-color: var(--init-background);
  border-radius: 20px;
  width: 95%;
  margin-top: 3px;
}

.dark .emptyState  {
  background-color: var(--init-dark);
  color: var(--init-background);
}

.dark .dev-socials svg {
  fill: var(--init-blue);
}