.nav-footer {
  grid-row: 10;
  align-self: flex-end;
  display: grid;
  align-items: flex-end;
  justify-items: left;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3vh 3vh 4vh;
  height: 10vh;
  width: 95%;
  color: var(--init-background);
  font-size: 15px;
}

.footer-init {
  height: 2vh;
}

.footer-links {
  grid-column: 1;
  grid-row: 3;
  display:flex;
  justify-content: space-between;
  width: 80%;
  position: relative;
  top: 1vh;
}

.footer-linked {
  height: 1.3em;
  width: 1.3em;
}
.footer-git {
  height: 1.4em;
  width: 1.4em;
}
.footer-mail {
  height: 1.4em;
  width: 1.4em;
}
.pursuit-nav  {
  height: 3.3vh;
}

.footer-tree {
  grid-column: 2;
  grid-row: 1/4;
  height: 78px;
}






