.nav-footer {
  margin-top: 8vh;
  display: grid;
  align-items: center;
  height: 8vh;
  width: 90%;
  justify-items: left;
  align-items: center;
  color: var(--init-background);
  font-size: 16px;
  font-weight: 600;
}

.pursuit-nav img {
  height: 2.8vh;
}

.nav-footer svg {
  color: var(--init-blue);
  height: 1em;
  width: 1em;
}


.footer-links {
  grid-row: 3;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




