nav {
  grid-template-columns: .5fr 3fr .5fr;
  height: 8vh;
  width: 100%;
  border-bottom: solid 2px var(--init-gold);
  background-color: var(--init-darkmint);
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
}

.burger {
  height: 42px;
  margin-right: 3vw;
  grid-column: 3;
}

 /* dark mode */
 .dark nav {
  background-color: var(--init-gold); 
 }






