.jobFormPage {
  display: grid;
  height: 98vh;
  justify-items: center;
  align-items: center;
  

  &_desktop {
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: var(--init-background);

    
    height: 113vh;
    & form {
      position: relative;
      top: 1vh;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 8vh 8vh 60vh 20vh 10vh;
    width: 94%;
    justify-items: left;

    .job-form-label, .jobFormPage_label, .jobFormDropdown_label span, .jobFormCheckbox span {
      font-weight: 600;
      font-size: 18px;
    }

    .jobFormTextInput:has(>input[id="title"]) {
      grid-column: 1;
      grid-row: 1;
      width: 70%;
    }
    .jobFormDataList {
      grid-column: 2;
      grid-row: 1;
      width: 60%;
    }
    .jobFormLocation {
      grid-column: span 2;
      grid-row: 2;
      width: 75%;
      
      .jobFormDropdown_label {
        width: 55%;
      }
      .jobFormCheckbox {
        & input {
          height: 30px;
          width: 30px;
        }
      }

    }

    .jobFormDetails {
      grid-column: span 2 ;
      grid-row: 3;
      border: none;
      width: 100%;
      height: 100%;
      row-gap: 3vh;
      // margin-bottom: 12vh;
      position: relative;
      bottom: 1vh;
      align-items: flex-start;
      .jobFormPage_form_border_label {
        visibility: hidden;
      }
      .jobFormTextArea {
        height: 20vh;
        & textarea {
          height: 18vh;
          width: 100%;
          border: 2px solid var(--init-darkmint);
        }
      }
      .jobFormTasks {
        max-height: 30vh;
        &_header{
          align-items: center;
          &_req {
            font-size: 16px;
          }
          & span:last-of-type {
           font-size: 20px;
           font-weight: 600;
          }
          & svg {
            justify-self: center;
            height: 2em;
            width: 2em;
           }
           & span:last-of-type, svg {
            &:hover {
              cursor: pointer;
            }
           } 

        }
        &_container {
          border: 2px solid var(--init-darkmint);
          padding: 1vh 0;
          max-height: 26vh;
          grid-auto-rows: 8vh;
          overflow-y: scroll;
          &::-webkit-scrollbar-thumb {
            background: white;
            }
            &_line {
              & label {
                grid-template-columns: 90% 10%;
              }
              
              & input[type="text"] {
                font-size: 16px;
                
              }
              .jobFormTextInput_taskIcon {
                height: 1.5em;
                width: 1.5em;
              }
            }
        }
      }
     }
     .jobFormSkills {
      grid-column: span 2;
      grid-row: 4;
      width: 96%;
      border: 2px solid var(--init-darkmint);
      margin-top: 5vh;
      padding-bottom: 2vh;

      .jobFormPage_form_border_label {
        font-weight: 600;
      }
      &_req {
        font-size: 16px;
      }
      .skills-checkboxes {
        grid-template-columns: repeat(6,1fr);
        
      }
     }
     .jobFormPage_form_submit {
      left: 0;
      top: 2vh;
      font-size: 34px;

     }

    }
    .jobFormPage_error {
      left: 0;
      right: 0;
      grid-column: 2;
      justify-self: center;
      font-size: 32px;
     }
  }

  &_error {
    color: var(--init-rust);
    font-size: 22px;
    font-weight: 600;
    justify-self: right;
    position: relative;
    bottom: 5.8vh;
    right: 8vw;
    // left: 13vw;
  }
  &_form {
    display: grid;
    grid-template-rows: repeat(3, 6vh) 44vh 22vh 5vh;
    row-gap: 1.5vh;
    margin-top: 2.5vh;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
    background-color: var(--init-background);

    & > * {
      width: 90%;
    }

    &_border {
      &_label {
        position: relative;
        width: unset;
        padding: 0 10px;
        font-size: 18px;
        height: fit-content;
        width: fit-content;
        bottom: 1.6vh;
        left: 1vh;
        align-self: flex-start;
        background-color: var(--init-background);
      }
    }

    & label {
      row-gap: 0.5vh;
    }

    & input:focus,
    select,
    textarea:focus {
      outline: none;
    }

    &_submit {
      all: unset;
      width: fit-content;
      position: relative;
      left: 4vw;
      color: var(--init-blue);
      justify-self: left;
      font-size: 28px;
      font-weight: 600;
    }

    &_label {
      font-size: 12px;
      grid-row: 2;
    }
  }
}

.dark .jobFormPage {
  &_label {
    color: var(--init-gold);
  }

  &_form {
    &_border {
      &_label {
        background-color: var(--init-dark);
        color: var(--init-gold);
      }
    }
    & input[type="checkbox"] {
      accent-color: var(--init-gold);
    }
    &_submit {
      color: var(--init-gold);
    }
  }
}
