.navBar {
  grid-template-columns: .5fr 3fr .5fr;
  height: 8vh;
  width: 100%;
  border-bottom: solid 2px var(--init-gold);
  background-color: var(--init-darkmint);

  &_burger {
    height: 42px;
    padding-left: 2vw;
    grid-column: 1;
  }
}

 .dark .navBar {
  background-color: var(--init-gold); 
 }

 @media (min-width: 450px) {
  .navBar {
    &_burger {
      margin-right: 1vw;
    }
  }
 }






