.applicantProfileEditForm {
  height: 89vh;
  width: 96%;
  padding-top: 1vh;
  padding-bottom: 5vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 6vh 6vh 10vh 30vh 21vh 3vh;
  row-gap: 3vh;
  column-gap: 3vw;

  .registerFormInput_label {
    & span {
      font-size: 14px;
    }
    & input {
      font-size: 18px;
      width: 90%;
      &::placeholder {
        font-size: 18px;
      }
    }
  }
  .applicantFormTwo_form_input_url_label {
    & input::placeholder {
      font-size: 18px;
    }
  }
  .applicantFormTwo_form_input_textarea_label,
  .applicantFormTwo_form_input_url_label {
    grid-column: span 2;
    & span {
      font-size: 14px;
    }
  }

  .applicantFormTwo_form_input_textarea_label {
    & span {
      position: relative;
      // left: 1vw;
    }
  }

  & label {
    & textarea {
      width: 94%;
      font-size: 16px;
      margin-top: 1vh;
      height: 6vh;
      &::placeholder {
        font-size: 16px;
        font-style: italic;
      }
    }
  }
  &_project {
    grid-row: 4;
    border: 2px solid var(--init-mint);
    grid-column: span 2;
    width: 96%;
    & >* {
      margin-left: 2vw;
    }
  }

  .skillsCheckboxes {
    grid-row: 5;
    grid-column: span 2;
    height: 18vh;
  }

  &_submitButton {
    grid-row: 6;
    font-size: 26px;
    text-align: left;
    position: relative;
    bottom: 2vh;
  }
}

@media (min-width: 450px)  {
  .applicantProfileEditForm {
    .skillsCheckboxes {
      .skills-checkboxes {
        column-gap: 1vw;
        & span {
          margin-left: 1vw;
        }
      }
    }
  }
}
