.applicantProfileEditForm {
  height: 89vh;
  width: 96%;
  padding-top: 1vh;
  padding-bottom: 5vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 6vh 6vh 10vh 4vh 30vh 21vh 3vh;
  row-gap: 2vh;
  column-gap: 2vw;

  .registerFormInput_label {
    & span {
        font-size: 14px;
    }
    & input {
      font-size: 18px;
      width: 90%;
      &::placeholder {
        font-size: 18px;
      }
    }
  }
  .applicantFormTwo_form_input_url_label {
    & input::placeholder {
      font-size: 18px;
    }
  }

  .applicantFormTwo_form_input_textarea_label,
  .applicantFormTwo_form_input_url_label {
    grid-column: span 2;
    & span {
        font-size: 14px;
    }
  }
  & label {
    & textarea {
      font-size: 18px;
      margin-top: 1vh;
      height: 6vh;
      &::placeholder {
        font-size: 16px;
        font-style: italic;
      }
    }
  }

  &_projects {
    &_header {
      border-bottom: 1px solid (var(--init-mint));
      grid-row: 4;
      grid-column: span 2;
      display: grid;
      align-items: center;
      grid-template-columns: 65% 35%;
      margin-bottom: 2vh;
      &_label {
        grid-row: 1;
        grid-column: 1;
        font-size: 18px;
        font-weight: 600;
      }
      &_helpText {
        grid-row: 1;
        grid-column: 2;
        font-size: 14px;
        font-style: italic;
      }
    }
    &_details {
      background-color: rgba(226, 226, 226, 0.735);
      border: 2px solid var(--init-mint);
      padding: 0vh 1vh;
      padding-bottom: 5vh;
      grid-row: 5;
      grid-column: span 2;
      overflow-y: scroll;
      height: 30vh;
      display: grid;
      row-gap: 5vh;

      &_one,
      &_two {
        display: grid;
        grid-template-rows: 7vh 7vh 8vh;
        row-gap: 2vh;
      }
    }
  }

  .skillsCheckboxes {
    grid-row: 6;
    grid-column: span 2;
    height: 16vh;
  }

  &_submitButton {
    font-size: 26px;
    text-align: left;
    position: relative;
    bottom: 2vh;
  }
}
