.featureThumbnail {
    width: 220px;
   
    &_icon {
        & svg {
            height: 2.2em;
            width: 2.2em;
            transform: rotate(45deg);
        }
        
        &_container {
            width: 85px;
            height: 85px;
            border-radius: 50px 0px 50px 0px;
            transform: rotate(-45deg);
            border: 3px solid var(--init-mint);
        }
    }
    &_text {
        text-align: center;
        margin-top: 4vh;
        
    }
}