.applicantProfile {
  height: 91vh;
// //   padding-bottom: 3vh;
  grid-template-rows: 28vh 8vh 48vh 5vh;
//   background: linear-gradient(
//     90deg,
//     rgb(83, 215, 199) 55%,
//     rgba(12, 189, 189, 1) 100%
//   );



  &_sectionHeader {
    display: flex;
    flex-direction: column;
    row-gap: .5vh;
    &_text {
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: var(--init-mint);
    }
  }

  &_header {
    
    padding: 0vh 0 0 1vw;
    width: 98%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 25% 75%;
    grid-template-rows: 55% 45%;

    &_icon {
      grid-column: 1;
      background-color: var(--init-charcoal);
      border: 2px solid var(--init-background);
      color: white;
      border-radius: 50%;
      height: 90px;
      width: 90px;
      font-size: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_details {
      padding-left: 3vw;
      grid-column: 2;
      width: 90%;
      height: 13vh;
      display: grid;
      grid-template-rows: 4vh 4vh 5vh;
      align-items: center;

      &_name {
        font-weight: 600;
        font-size: 24px;
      }
      .skills-component {
        height: 4vh;
        width: 90%;
        background-color: white;
        border: 2px solid var(--init-mint);
        border-radius: 20px;
        align-items: center;
        & svg {
          height: 1.6em;
          width: 1.6em;
        }
      }
    }
    &_about {
      grid-column: span 2;
      width: 92%;
      height: fit-content;
      margin-left: 3vw;
     .applicantProfile_sectionHeader_text {
        text-decoration-color: var(--init-charcoal);
     }
      &_text {
        height: fit-content;
        max-height: 10vh;
        overflow-y: scroll;
      }
    }
  }
  &_applicantDetails {
    // background-color: white;
    text-indent: 1vw;
    border-radius: 10px;
    padding-top: 1vh;
    height: 48vh;
    width: 94%;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 8vh 29vh 6vh;
    row-gap: 1vh;
    .applicantProfile_sectionHeader {
        &_text {
            font-size: 24px;
        &_span {
            font-size: 18px;
        }
        }
 }   
 &_projects {
    display: grid;
    grid-template-rows: 5vh 12vh 12vh;
    &_link{
        font-size: 22px;
    }

 }
  }

  &_edit {
    font-size: 28px;
    align-self: flex-end;
  }
}
