.desktopLoginPage {
  display: grid;
  width: 96%;
  height: 98vh;
  margin: 0 auto;
  justify-items: center;
  align-items: center;

  &_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;

    &_left {
      grid-template-rows: 15% 12% 5% 45% 5%;
      width: 100%;
      // height: 100%;
      row-gap: 3%;
      background: linear-gradient(
      90deg,
      rgb(83, 215, 199) 20%,
      rgba(12, 189, 189, 1) 50%
    );

      // margin-left: 1vw;
      padding-bottom: 0;

      &_container {
        width: 150px;
        height: 150px;
        overflow: hidden;
        grid-row: 5;
        position: relative;
        bottom: 40vh;
        left: 13vw;
        border-radius: 60px 0px 60px 0px;
        transform: rotate(-45deg);
        border: 3px solid var(--init-gold);
        &_image {
          position: relative;
          // top: 10vh;
          right: 4vw;
          height: 240px;
          transform: rotate(45deg);
        }
      }

      &_header {
        grid-row: 1;
        font-family: Poppins;
        display: grid;
        text-align: center;
        &_top {
          color: var(--init-gold);
          font-size: 38px;
          font-weight: 600;
        }
        &_bottom {
          font-size: 24px;
          opacity: 0.8;
        }
      }

      &_subHeader {
        grid-row: 2;
        justify-self: left;
        display: grid;
        row-gap: 5px;
        padding-left: 2vw;
        &_top {
          font-size: 22px;
          color: var(--init-gold);
          font-weight: 600;
        }
        &_bottom {
          font-size: 16px;
          width: 80%;
        }
      }

      &_featureHeader {
        grid-row: 3;
        font-size: 24px;
        color: var(--init-gold);
        justify-self: left;
        font-weight: 600;
        padding-left: 2vw;
      }

      &_featureList {
       margin-left: 2vw;
        grid-row: 4;
        border-left: 2px solid var(--init-gold);
        height: 100%;
        justify-self: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & li {
          list-style: none;
        }
      }
    }
  }

  .loginPage {
    position: relative;
    height: fit-content;

    &_error {
      font-size: 20px;
      padding: 2vh 0;
    }
    &_demo {
      margin-top: 1vh;
    }
    &_loginLoad {
      & img {
        height: 13vh;
        width: 20vw;
      }
    }

    .loginForm {
      margin-top: 6vh;
      &_submitButton:hover {
        cursor: pointer;
      }
    }
  }
}

.dark .desktopLoginPage {
  &_content {
    box-shadow: 0px 0px 10px var(--init-darkmint);
    background: unset;
    background-color: var(--init-darkmint);

    &_left {
      &_header {
        &_bottom {
          opacity: 1;
        }
      }
    }
  }
  .loginPage {
    background-color: var(--init-dark);
    &_register {
      color: var(--init-gold);
    }
  }
}

@media (max-width: 1200px) {
  .desktopLoginPage {
    &_content {
      &_left {
        &_container {
          bottom: 37vh;
          left: 14vw;
        }
      }
    }
  }
}
@media (max-width: 1080px) {
  .desktopLoginPage {
    &_content {
      &_left {
        &_container {
          display: none;
        }
      }
    }
  }
}
