.recruiter-job {
    width: 98%;
    border-top: 1px solid var(--init-charcoal);
}

.recruiter-job-details {
    height: 84%;
    width: 96%;
    display: grid;
    grid-template-columns: 2fr .7fr;
    align-items: flex-end;
    row-gap: .5vh;
    font-size: 18px;
    
}

.recruiter-job a:first-of-type{
    justify-content: left;
}

.recruiter-job-title {
    grid-column: span 2;
    font-size: 22px;
}
.recruiter-job-company {
    font-weight: 600;
}
.recruiter-job-city {
    color: rgb(79, 77, 77);
}


.recruiter-job-applicants{
    height: 90%;
    grid-column: 2;
    grid-row: 2/4;
    grid-template-rows: .2fr 1fr;
    row-gap: 2px;
}
.recruiter-job-applicants span:first-of-type{
    font-size: 14px;
    height: fit-content;
    width: fit-content;
    color: var(--init-charcoal);
}
.recruiter-job-applicants .applicant-count {
    font-size: 35px;
}

.dark .recruiter-job a{
    color: var(--init-blue);
}