.recruiterProfile {
  height: 92vh;
  width: 98%;
  grid-template-rows: 16vh 1vh 9vh 55vh 7vh;
  row-gap: .5vh;

  &_header {
    height: 100%;
    width: 98%;
    display: grid;
    align-items: center;
    justify-items: left;
    font-size: 22px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 40% 30% 30%;
    column-gap: 5vw;
    padding-bottom: 1vh;
    // border-bottom: 2px solid var(--init-darkmint);

    &_icon {
      grid-column: 2;
      grid-row: 3;
      display: grid;
      grid-template-columns: auto auto;
      font-weight: 600;
      position: relative;
      right: 2vw;
      & svg {
        background-color: white;
        padding: 5px;
        border-radius: 50%;
        height: 1.4em;
        width: 1.4em;
      }
      & span {
        align-self: center;
        margin-left: 2vw;
        font-size: 16px;
      }
    }
    &_name {
      grid-column: 2;
      grid-row: 1;
      font-weight: 900;
      margin-top: 2vh;
      font-size: 24px;
    }
    &_company {
      grid-column: 2;
      grid-row: 2;
      font-style: italic;
      font-size: 20px;

      &_logo {
        grid-column: 1;
        grid-row: 1/4;
        height: 80px;
        border-radius: 50%;
        max-width: 100px;
        margin-bottom: 2vh;
        // border: 1px solid var(--init-charcoal);
      }
    }
  }

  &_jobsPosted {
    &_header {
      display: grid;
      grid-template-columns: 2fr 0.5fr;
      width: 94%;
      justify-items: left;

      & svg {
        height: 2.5em;
        width: 2.5em;
        color: var(--init-blue);
        margin-top: 1.2vh;
      }
      & h2 {
        font-size: 26px;
        align-self: center;
        margin-left: 1vw;
      }
    }
  }

  & hr {
    border: 1px solid var(--init-darkmint);
    width: 98%;
  }

  &_jobsList {
    width: 94%;
    display: grid;
    grid-template-rows: max-content;
    row-gap: 1vh;
    overflow-y: scroll;
    height: 52vh;
    padding-bottom: 2vh;
    border-top: 2px solid var(--init-charcoal);
    border-bottom: 2px solid var(--init-charcoal);
  }

  &_new-job-link {
    justify-self: center;
    font-size: 26px;
    width: 98%;
    text-align: center;
  }
}

// Dark Mode

.dark .recruiterProfile {
    &_header {
        &_icon {
            & svg {
                color: black;
            }
        }
    }
    &_jobsPosted {
        &_header {
             & svg {
                color: var(--init-gold);
             }
        }
    }
    &_jobsList {
      border-color: var(--init-darkmint);
    }
    &_new-job-link {
        color: var(--init-gold);
    }
}
// .dark .recruiter-profile-top svg {
//   fill: var(--init-background);
//   stroke: var(--init-background);
// }

// .dark .recruiter-profile-top {
//   border-color: var(--init-darkmint);
// }

// .dark .recruiter-profile-new-job {
//   color: var(--init-gold);
// }
