.recruiter-job {
    width: 98%;
    height: 11vh;
    grid-template-columns: 55% 45%;
    grid-template-rows: repeat(3,.5fr);
    background-color: white;
    border-radius: 18px;
    padding-right: 5px;
    border: 1px solid var(--init-gold);  
}

.recruiter-job-details {
    height: 100%;
    width: 100%;
    background-color: var(--init-darkmint);
    display: grid;
    grid-column: 1;
    grid-row: 1/4;
    align-items: center;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}


.recruiter-job-title {
    font-size: 19px;
    margin-left: 3vw;
    color: var(--init-blue);    
}
.recruiter-job-company {
    font-weight: 600;
    text-align: center;
}
.recruiter-job-city {
    color: var(--init-faded-gray);
}
.recruiter-job-applicants{
    grid-column: 2;
}
.recruiter-job-applicants span{
    font-size: 18px;
    height: fit-content;
    width: fit-content;
    color: var(--init-blue);
}

/* DARK MODE */
.dark .recruiter-job {
    border-color: var(--init-darkmint);
}
.dark .recruiter-job a{
    color: var(--init-blue);
}

.dark .recruiter-job-company {
    color: var(--init-charcoal);
}

.dark .recruiter-job-details {
    background-color: var(--init-gold);
}