.recruiter-job {
    width: 96%;
    height: 8vh;
    justify-self: center;
    grid-template-columns: 15% 60% 20%;
    /* border-top: 2px solid var(--init-charcoal); */
    justify-items: left;
    padding: .5vh;
    background-color: white;
    box-shadow: 0px 0px 2px var(--init-charcoal);
    border-radius: 20px;
}

.recruiter-job:first-of-type {
    border-top: none;
}
.recruiter-job-company-logo {
    grid-column: 1;
    grid-row: 1/3;
    height: 40px;
    min-width: 40px;
   max-width: 100%;
   justify-self: center;
   /* background-color: var(--init-charcoal);
   padding: 3px; */
   /* border-radius: 10px; */
}

.recruiter-job-details {
    height: 100%;
    width: 100%;
    display: grid;
    grid-column: 2;
    grid-row: 2;
    align-items: center;
}

.recruiter-job-title {
    grid-column: 2/4;
    font-size: 19px;
    margin-left: 3vw;
    color: var(--init-blue);  
}
.recruiter-job-company {
    /* font-weight: 600; */
    margin-left: 3vw;
    font-size: 17px;
}
.recruiter-job-city {
    color: var(--init-faded-gray);
    margin-left: 3vw;
}
.recruiter-job-applicants{
    grid-column: 3;
    grid-row: 2;
    display: flex;
    align-items: center;
    column-gap: 2vw;
    /* font-size: 22px; */
}

.recruiter-job-applicants span svg {
    position: relative;
    top: .3vh;
    height: 1.3em;
    width: 1.3em;
}
.recruiter-job-applicants .applicant-count {
    grid-row: 2;
    justify-self: center;
    /* color: var(--init-blue); */
    /* align-self: flex-end; */
    font-size: 24px;
}

/* DARK MODE */
.dark .recruiter-job {
    /* border: 1px solid var(--init-darkmint); */
    border: 1px solid #0c65bd;
    background-color: unset;
}

.dark .recruiter-job-company-logo {
    border: 2px solid var(--init-background);
    background-color: var(--init-background);
}

.dark .recruiter-job-details .recruiter-job-company, .dark .recruiter-job-details .recruiter-job-city  {
    color: var(--init-background);
}
.dark .recruiter-job a{
    color: var(--init-gold);
}

.dark .recruiter-job-company {
    color: var(--init-background);
}

.dark .recruiter-job-applicants span svg {
    color: var(--init-darkmint);
    color: #0c65bd;
}
