.recruiter-profile {
    height: 92vh;
    width: 98%;
    grid-template-rows: 16vh 10vh 55vh 10vh;
}


.recruiter-profile-top {
    height: 100%;
    width: 98%;
    font-size: 22px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    border-bottom: 2px solid var(--init-darkmint);
}

.recruiter-profile-top svg {
    fill: black;
    stroke: black;
    height: 1.2em;
    width: 1.2em;
    position: relative;
    top: 4px;
    margin-right: 4px;
}

.recruiter-profile-top p {
    margin: 2vh 0 0 3vw;
    padding-bottom: 10px;
    font-weight: 600;
}

.recruiter-profile-top img {
    margin-top: 2vh;
    /* margin: 0 auto; */
    height: 60px;
    border: 2px solid var(--init-charcoal);
    padding: 4px;
    border-radius: 50%;
    background-color: white;
}

.recruiter-jobs {
    width: 94%;
    display: grid;
    row-gap: 1vh;
    overflow-y: scroll;
    height: 54vh;
    padding: 2vh;
}

.recruiter-profile .jobs-posted-header {
    display: grid;
    grid-template-columns: 2fr .5fr;
    width: 92%;
    justify-items: left;
}

.recruiter-profile .jobs-posted-header img {
    height: 40px;
    margin-left: 3vw;
}

.recruiter-profile .jobs-posted-header h2 {
    font-size: 28px;
    align-self: center;
}

.recruiter-profile-new-job {
    justify-self: center;
    font-size: 26px;
    border-top: 2px solid var(--init-darkmint);
    width: 98%;
    text-align: center;
    padding-top: 2vh;
    margin-top: 1vh;
}

.dark .recruiter-profile-top svg {
fill: var(--init-background);
stroke: var(--init-background);
}

.dark .recruiter-profile-top {
    border-color: var(--init-darkmint);
}

.dark .recruiter-profile-new-job {
    color: var(--init-gold);
}
