.login {
  color: rgb(22, 16, 16);
  font-size: 20px;
  grid-template-rows: 20vh 40vh 12vh 10vh;
  row-gap: 1vh;
  padding-bottom: 3vh;

  &_header {
    display: grid;
    grid-row: 1;
    justify-items: center;

    &_logo{
      height: 12vh;
      max-width: 15vh;
    }
    .slideNav_header_slogan {
      color: var(--init-charcoal);
    }
  }

  &_form {
    // height: 100%;
    margin-top: 3vh;
    width: 100%;
    grid-template-rows: 9vh 9vh 8vh 10vh;
    row-gap: 1vh;

    &_label {
      display: flex;
      align-items: center;
      width: 70%;
      column-gap: 4vw;

      & svg{
        height: 1.8em;
        width: 1.8em;
        color: var(--init-darkmint);
        position: relative;
        top: .3vh;
      }
    }

    &_input {
      width: 100%;
      height: 3vh;

      &::placeholder{
        font-size: 20px;
      }
    }

    &_isRecruiter {
      height: 3vh;
      width: 3vh;

      &_label {
        width: 100%;
        margin-right: 8vw;
        justify-content: center;
        display: flex;
        align-items: center;
        column-gap: 5vw;

        &_text {
          display: flex;
          column-gap: 3vw;
          
          & svg {
            height: 1.5em;
            width: 1.5em;
            color: var(--init-darkmint);
            position: relative;
            bottom: .1vh;
          }
          & span {
            align-self: flex-end;
          }
        }
      }
    }

    &_submit {
      all: unset;
      color: var(--init-blue);
      font-weight: 600;
      font-size: 28px;

    }
  }

  &_register {
    grid-row: 4;
    text-align: center;
  }

}


.recruiter-login-error {
    color: var(--init-rust);
    font-weight: 600;
    /* border: 3px solid green; */
    /* margin-top: 25px; */
    height: 40px;
    margin-top: 15px;
    /* margin-bottom: 5px; */
    font-size: 26px;
}


.dark .recruiter-login {
    color: var(--init-background);
}

.dark #recruiter-login-submit {
    color: var(--init-blue);
    background-color: var(--init-gold)
}

.dark .recruiter-login a {
    border-top: 2px solid var(--init-gold);
    color: var(--init-gold);
}
