#show-hide-button {
    grid-column: 3;
    grid-row: 1;
    color: rgb(102, 97, 97);
    background-color: unset;
    border: none;
    /* position: relative;
    left: 22vh; */
    font-weight: 600;
}