.desktopFooter {
  border-top: 1px solid var(--init-darkmint);
  border-bottom: 1px solid var(--init-darkmint);
  background-color: var(--init-gray-background);
  width: 100%;
  padding: 2vh 0 ;
  height: 300px;
  display: grid;
  grid-template-columns: 45% 2% 45%;
  margin: 0 auto;
  column-gap: 3%;
  // justify-items: center;

  & hr {
    grid-column: 2;
    border: 1px solid var(--init-darkmint);
    margin-left: 2vw;
    width: 0;
  }

  &>* {
    margin-left: 3vw;
  }

  & h2 {
    color: var(--init-darkmint);
    margin: 0;
  }

  &_developer {
    grid-column: 3;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 13% 52% 20% 15%;
    align-items: center;

    &_bio {
      // display: flex;
      width: 98%;
      // column-gap: 5px;
      grid-column:  span 2;
      grid-row: 2;
      position: relative;
      bottom: 2vh;

      // & img {
      //   height: 150px;
      //   border-radius: 50%;
      // }
    }
    &_photo {
      height: 130px;
      border-radius: 50%;
      grid-column: 2;
      grid-row: 3/5;
      justify-self: left;
      position: relative;
      right: 5vw;
      bottom: 1vh;
    }

    &_contact {
      grid-row: 3;
      width: fit-content;
      position: relative;
      bottom: 2vh;
    }

    .contactLinks {
      grid-row: 4;
      position: relative;
      bottom: 3vh;
    }
  }

  &_about {
    width: auto;
    display: grid;
    grid-template-rows: 15% 38% 15% 30%;
    align-items: center;

    &_tech {
      display: grid;
      row-gap: 1vh;
      .skills-component {
        margin-top: 1vh;
        width: fit-content;
        column-gap: 15px;

        & svg {
          height: 1.8em;
          width: 1.8em;
        }
      }
    }
  }
}


.dark .desktopFooter {
  &_developer {
    .contactLinks {
      background-color: var(--init-background);
      padding: 0vh 2vh;
      border-radius: 10px;
      & >* {
        margin-top: 1vh;
      }
      & svg {
        // margin-top: 1vh;
        // color: var(--init-gold);
      }
    }
  }
}

@media (max-width:1050px) {
  .desktopFooter {
    // grid-template-columns: repeat(2,1fr);
    grid-template-columns: 1fr;
    height: auto;
    row-gap: 5vh;
    padding-bottom: 5vh;

    & hr {
      display: none;
    }
    & h2 {
      margin-bottom: 2vh;
    }

    &_developer {
      grid-column: 1;
      &_photo {
        display: none;
      }
      .contactLinks {
        bottom: 2vh;
      }
    }
    &_about {
      grid-template-rows: 15% 30% 25% 30%;
    }
  }
}