.desktopFooter {
  border-top: 1px solid var(--init-darkmint);
  border-bottom: 1px solid var(--init-darkmint);
  width: 94%;
  margin-top: 3vh;
  padding: 2vh 0;
  height: 280px;
  display: grid;
  grid-template-columns: 45% 55%;
  column-gap: 2vw;

  & h2 {
    color: var(--init-darkmint);
    margin: 0;
  }

  &_developer {
    grid-column: 2;
    display: grid;
    grid-template-rows: 15% 55% 15% 15%;
    align-items: center;

    &_bio {
      display: flex;
      width: 93%;
      column-gap: 5px;
      grid-row: 2;

      & img {
        height: 150px;
        border-radius: 50%;
      }
    }

    &_contact {
      grid-row: 3;
      width: fit-content;
    }

    &_links {
      grid-row: 4;
      display: flex;
      align-items: center;
      width: 100%;
      column-gap: 20px;
      & svg {
        height: 1.8em;
        width: 1.8em;
        color: var(--init-blue);
      }
      &_pursuit {
        height: 30px;
      }
    }
  }

  &_about {
    width: auto;
    display: grid;
    grid-template-rows: 15% 38% 15% 30%;
    align-items: center;

    &_tech {
      display: grid;
      row-gap: 1vh;
      .skills-component {
        margin-top: 1vh;
        width: fit-content;
        column-gap: 15px;

        & svg {
          height: 1.8em;
          width: 1.8em;
        }
      }
    }
  }
}
