.desktopFooter {
  border-top: 1px solid var(--init-darkmint);
  border-bottom: 1px solid var(--init-darkmint);
  background-color: var(--init-gray-background);
  width: 100%;
  padding: 2vh 0;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  & h2 {
    color: var(--init-darkmint);
    margin: 0;
  }

  &_developer {
    grid-column: 2;
    margin: 2vh;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    row-gap: 3%;

    &_bio {
      display: flex;
      flex-direction: column;
      row-gap: 1vh;
      grid-column: span 2;
      grid-row: 1;
    }
    &_photo {
      height: 150px;
      border-radius: 50%;
      grid-column: 2;
      grid-row: 2;
      justify-self: left;
      position: relative;
    }

    &_contact {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      row-gap: 1vh;

      .contactLinks {
        width: 60%;
        height: 100%;
        justify-content: space-between;
        & svg {
          height: 2.3em;
          width: 2.3em;
        }
      }
    }
  }

  &_init {
    grid-column: 1;
    margin: 2vh;
    border-right: 2px solid var(--init-darkmint);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;

    &_about {
      grid-row: 1;
      display: flex;
      flex-direction: column;
      row-gap: 1vh;
    }

    &_tech {
      grid-row: 2;
      display: flex;
      flex-direction: column;
      row-gap: 1vh;
      align-self: center;
      .skills-component {
        margin-top: 1vh;
        justify-content: space-between;
        width: 70%;

        & svg {
          height: 2.3em;
          width: 2.3em;
        }
      }
    }
  }
}

.dark .desktopFooter {
  &_developer {
    .contactLinks {
      background-color: var(--init-background);
      padding: 0vh 2vh;
      border-radius: 10px;
      & > * {
        margin-top: 1vh;
      }
    }
  }
}

@media (max-width: 1120px) {
  .desktopFooter {
    &_developer {
      &_photo {
        height: 130px;
        bottom: 2vh;
      }
    }
  }
}

@media (max-width: 1050px) {
  .desktopFooter {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 1vh;
    height: auto;

    & > * {
      width: 75%;
      border: none;
      text-align: center;
    }

    &_init {
      &_tech {
        width: 75%;
        justify-self: center;
        margin-top: 2vh;

        .skills-component {
          justify-content: space-evenly;
          margin: 0 auto;
        }
      }
    }

    &_developer {
      grid-column: 1;

      &_photo {
        height: 120px;
        top: 2vh;
      }
      &_contact {
        justify-self: center;
      }
      .contactLinks {
        column-gap: 4vh;
      }
    }
    &_about {
      grid-template-rows: 15% 30% 25% 30%;
    }
  }
}
