.formInput {
    &_label {
        display: grid;
        grid-template-rows: 1fr .5fr;
        height: 8vh;

        & span:first-of-type {
            grid-row: 2;
        }

        & input {
            &::placeholder {
                font-size: 18px;
            }
        }
    }
    &_email_label {
        display: grid;
        grid-template-rows: 1fr .5fr; 
        & svg {
            grid-column: 1;
            grid-row: 1;
            justify-self: right;
            align-self: center;
           
        }
        & span {
            grid-row: 2;
            grid-column: 1;
        }
        & input {
            // height: 4vh;
            grid-column: 1;
            grid-row: 1;
            &::placeholder{
                font-size: 18px;
            }
        }
    }
    &_password_label {
        display: grid;
        grid-template-rows: 1fr .5fr;
        margin-top: 1vh;

        &_text {
            grid-row: 2;
            grid-column: 1;
            display: grid;
            grid-template-columns: 1.3fr 3fr;
        }
        & input {
            grid-row: 1;
            grid-column: 1;
            &::placeholder {
                font-size: 18px;
            }
        }
        &_helperText {
            grid-column: 2;
            font-style: italic;
            font-size: 12px;
        }

        .showHidePass {
            grid-row: 1;
            grid-column: 1;
            justify-self: right;
            margin: 0 0 .5vh 0;
            align-self: center;
        }
    }

    &_submitButton {
        all: unset;
        font-size: 24px;
        font-weight: 600;
        color: var(--init-blue);
        justify-self: left;
        
    }
}