.applicant-card {
    border: 1px solid var(--init-recruiter-blue);
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    display: grid;
    grid-template-columns: 20% 80% ;
    grid-template-rows: 55% 10% 35%;
    height: 10vh;
    width: 90%;
    column-gap: 2vw;
    align-items: center;
    justify-self: center;
    border-radius: 5px;
}

.applicant-icon {
    grid-row: 1/4;
    grid-column: 1;
    background-color: var(--init-recruiter-blue);
    // background-color: #7cc4f5;
    display: grid;
    height: 100%;
    width: 100%;
}

.applicant-icon svg {
    height: 3em;
    width: 3em;
    fill: white;
    justify-self: center;
    align-self: center;
}

.applicant-name {
    font-size: 20px;
    font-weight: 800;
    // color: var(--init-blue);
}

.applicant-card hr {
    width: 90%;
    border: 1px solid var(--init-recruiter-blue);
}


/* dark mode */
.dark .applicant-name {
    color: var(--init-gold);
    color: white;
}
.dark .applicant-card hr {
    border-color: var(--init-gold);
}
.dark .applicant-email {
    color: var(--init-mint);
}
.dark .applicant-icon {
    background-color: var(--init-mint);
}
.dark .applicant-card {
    border: 1px solid var(--init-mint);
}