.jobShow {
    &_actionButtons {
        display: grid;
        grid-template-columns: 0.45fr 0.55fr;
        width: 90%;
        justify-self: center;
        justify-items: center;
        align-items: center;
    
        & > * {
          all: unset;
          color: var(--init-blue);
          font-weight: 600;
        }
        &_apply,
        &_applied,
        &_notSignedIn {
          grid-column: span 2;
        }
        &_notSignedIn {
          display: flex;
          width: 100%;
          font-size: 20px;
          justify-content: space-evenly;
          & >*:hover {
            color: var(--init-gold);
            cursor: pointer;
          }
        }
      }
}