.desktopApplicantProfileHeader {
    grid-row: 1;
    grid-column: span 2;
    display: grid;
    align-items: center;
    grid-template-columns: 18% 38% 40% ;
    grid-template-rows: 60% 40%;
    column-gap: 2%;
    background-color: white;
    max-height: 22vh;
    padding-bottom: 1vh;
    font-size: 20px;

    .applicantProfile_header_icon{
        grid-column: 1;
        grid-row: 1/3;
       justify-self: center;
    }

    &_name, &_bio {
        display: flex;
        & svg {
            height: 2.2em;
            width: 2.2em;
           }
    }

    &_name {
        grid-column: 2;
        grid-row: 1/3;
        flex-direction: column;
        row-gap: 1.5vh;

       &_email {
        display: flex;
        align-items: center;
        column-gap: 3vw;

        & h3 {
            font-size: 28px;
        }
        & a {
            display: flex;
            align-items: center;
        }
        
       }
        & span {
            font-size: 18px;
            display: flex;
            align-items: center;
            column-gap: 1vw;
        }
    }

    &_bio {
        grid-column: 3;
        grid-row: 1;
        width: 100%;
        font-size: 18px;
    }

    .desktopSkillsComponent {
        grid-column: 3;
        grid-row: 2;
        & svg {
            height: 1.4em;
            width: 1.4em;
        }        
    }
}