.desktopApplicantProfileHeader {
  grid-row: 1;
  grid-column: span 2;
  display: grid;
  align-items: center;
  grid-template-columns: 45% 55%;
  // margin-right: 1vw;
  grid-template-rows: 50% 50%;
  background-color: white;
  height: 35vh;
  font-size: 20px;
  // background: linear-gradient(
  //   to bottom,
  //   #81c2eeb4 50%,
  //   white 50%
  // );
  background: linear-gradient(
    to bottom,
    var(--init-mint) 50%,
    white 50%
  );

  // background-color: var(--init-lightblue);
  // background-color: #21c0c0;

  // background-color: #adf8f1cd;

  // background-color: #81c2eeb4;
  // background-color: #96ece2b5;

  .applicantProfile_header_icon {
    grid-column: 1;
    grid-row: 1;
    // justify-self: center;
    position: relative;
    top: 2.5vh;
    margin-left: 4vw;
    width: 120px;
    height: 120px;
    font-size: 54px;
    border-width: 5px;
    border-color: white;
  }
  &_editLink {
    grid-column: 2;
    grid-row: 1;
    
    // margin-left: 1vw;
    // display: flex;
    // align-items: center;
    // column-gap: 1vw;
    & svg {
      height: 1.5em;
      width: 1.5em;
      // margin-left: 1vw;
    }
  }

  &_details {
    padding-top: 1vh;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    margin-left: 2vw;

    & svg {
      color: black;
      height: 1.3em;
      width: 1.3em;
    }

    &_name {
      font-size: 28px;
      display: flex;
      align-items: center;
      column-gap: 2vw;
      & a {
        font-size: 18px;
        & svg {
          color: var(--init-blue);
        }
      }
      // margin: 1vh 0;
    }
    &_education,
    &_email,
    &_position {
      display: flex;
      align-items: center;
      column-gap: 1vw;
    }
    &_position {
      & svg {
        height: 1.1em;
        width: 1.1em;
      }
    }
  }

  &_skills {
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
    align-self: flex-end;
    margin-right: 2vw;
    display: flex;
    align-items: center;
    // width: 100%;
    column-gap: 2vw;

    .desktopSkillsComponent {
      padding-top: 0.5vh;
      &_skills {
        justify-content: space-between;
        column-gap: 2vw;
      }
      & svg {
        height: 1em;
        width: 1em;
        background-color: white;
      }
    }
  }
  &_bio {
    grid-column: 2/4;
    grid-row: 2;
    font-size: 17px;
    // padding: 0.7vw;
    overflow-y: scroll;
  }
}
