.desktopApplicantProfileHeader {
    grid-row: 1;
    grid-column: span 2;
    display: grid;
    align-items: center;
    grid-template-columns: 18% 45% 35% ;
    grid-template-rows: 60% 40%;
    column-gap: 2%;
    background-color: white;
    max-height: 22vh;
    padding-bottom: 1vh;

    .applicantProfile_header_icon{
        grid-column: 1;
        grid-row: 1/3;
       justify-self: center;
    }

    &_name, &_email, &_education {
        display: flex;
        flex-direction: column;
        row-gap: 1vh;

        .applicantProfile_sectionHeader_text {
            font-size: 24px;
        }
        .applicantProfile_header_about_text{
            font-size: 20px;
        }
    }

    &_name {
        & h3 {
            font-size: 28px;
        }
        & span {
            font-size: 18px;
        }
    }

    .desktopSkillsComponent {
        & svg {
            height: 1.4em;
            width: 1.4em;
        }        
    }
}