@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Poppins:wght@400;600;700&family=Work+Sans:wght@400;500;600;700&family=Ysabeau:ital,wght@1,400;1,500;1,600&display=swap");

/* scrollbar? */
::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {

background: var(--init-darkmint);
/* background-color: var(--init-dark); */
  border-radius: 20px;
}

.App ::-webkit-scrollbar-thumb {

  
  background: var(--init-background);
  /* background: white; */

  }


/* compliment colors
#def9f6
#dee2f9
#b3daf1
#0c65bd
#EFF9DE
*/
* {
  margin: 0;
  font-family: "Work Sans", Poppins, Cabin, Ysabeau;
  --init-mint: #41cdbc;
  --init-darkmint: #0cbdbd;
  --init-gold: #ffde59;
  --init-blue: #0914ae;
  --init-lightblue: #b1d9f3;
  --init-recruiter-blue: #0E7B95;
  --init-background: #deeff9;
  --init-dark: #050525;
  --init-rust: rgb(186, 26, 26);
  --init-charcoal: rgb(22, 16, 16);
  --init-faded-gray: rgb(79, 77, 77);
  --init-subheader-grey: #666666;
  --init-gray-background: rgba(183, 183, 183, 0.3);
  --init-link-color:#0b5e72;
  --init-black-transparent: rgba(39, 39, 39, 0.844);
  --slidenav:calc(100vw - 450px);
  /* --init-navbar : #84D0C8; */
  /* --init-navbar : #0C65BD; */
}

/* applicant profile color??? #12A1C4 */

body {
  height: auto;
  min-height: 100vh;
  background-color: var(--init-background);
  display: flex;
  
  /* height: auto;
  overflow: scroll;
  min-height: 100%; */

}

.mobile {
  max-width: 400px;
  min-height: 100vh;
  margin: 0 auto;
}


.desktop {
  margin-top: 12vh;
  padding-bottom: 9vh;
}

.desktop input[type="submit"] {
  cursor: pointer;
}

/* DARK/LIGHT THEME*/

.light {
  background-color: var(--init-background);
  color: var(--init-charcoal);
}
.dark {
  background-color: var(--init-dark);
  color: var(--init-background);
}

/* GLOBAL STYLING MODIFIACTION CLASSES */

/* card outline style */
.init-card {
  background-color: white;
    border: 1px solid #e0e0e0; 
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* hover effect in links and buttons */
/* a, button {
    border-radius: 5px; 
    transition: background-color 0.3s; 
    width: fit-content;
    padding: 5px; 
    position: relative;
        right: .5vw;
}

a:hover, button:hover {
  background-color: rgba(23, 22, 22, 0.2);
} */

a{
  border-radius: 5px; 
  transition: background-color 0.3s; 
  width: fit-content;
  padding: 5px; 
  position: relative;
      right: .5vw;
}

a:hover {
background-color: rgba(23, 22, 22, 0.2);
}

/* possible mint hover background
  background-color: #b7e3dfa4;
  border: 1px solid var(--init-darkmint);
*/











/* LINKS*/
a {
  text-decoration: none;
  color: var(--init-blue);
  /* color: var(--init-link-color); */
  font-weight: 600;
}

/* CENTERING CLASSES */
.center {
  margin: 0 auto;
}

.grid-center {
  display: grid;
  align-items: center;
  justify-items: center;
}

.grid-align {
  display: grid;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


/* HIDE */
.hide {
  /* display: none; */
  visibility: hidden;
}
.show {
  /* display: unset; */
  visibility: visible;
}

/* INPUTS */


input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"], select {
  border: none;
  border-bottom: 2px solid var(--init-mint);
  background-color: unset;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus {
  outline: none;
}

input[type="submit"] {
  background: unset;
  border: unset;
  text-transform: uppercase;
  color: var(--init-blue);
  font-weight: 600;
}

select {
  border-bottom: none;
}
select:focus {
  outline: none;
}

textarea {
  border-color: var(--init-mint);
  background-color: unset;
}

textarea:focus {
  outline-color: var(--init-darkmint);
}

.dark input {
  border-color: var(--init-gold);
  background-color: var(--init-dark); 
}
.dark input::placeholder {
  color: var(--init-background);
}

/*  greyed out buttons */
.greyed-out {
  all: unset;
  color: grey;
  opacity: .5;
}

/* font styles */
.bold {
  font-weight: 600;
}

/* buttons */
button:hover {
  cursor: pointer;
}

/* TEMPORARY DESKTOP VIEWS FOR TBD COMPONENTS */
.desktop .applicantProfile {
  width: 30%;
  margin: 0 auto;
  padding: 3vh 0;
  padding-bottom: 6vh;
  &_applicantDetails {
    row-gap: 0;
  }
}

.desktop .applicantProfileEditForm {
  width: 50%;
  margin: 0 auto;
  padding: 3vh 0;
  padding-bottom: 6vh;
}

.desktop .registrationPage {
  width: 50%;
  margin: 0 auto;
  /* padding: 2vh 0; */
}

/* .desktop .loginPage {
  width: 50%;
  margin: 0 auto;
  padding-top: 3vh;
} */

.desktop .recruiterProfile {
  width: 35%;
  margin: 0 auto;
  padding-top: 3vh;
}

.desktop .job-form-page {
  width: 50%;
  margin: 0 auto;
  padding: 2vh 0;
}

.desktop .jobShow {
  width: 30%;
  margin: 0 auto;
}

.desktop .job-applicant-page {
  width: 50%;
  margin: 0 auto;
  padding-top: 3vh;
}
