.projectFormInputs {
 display: flex;
 flex-direction: column;
 row-gap: .5vh;
 position: relative;
//  bottom: 1vh;

 &_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--init-mint);
 }
}
