.desktopRecruiterJobCard {
   padding: 1vh;
   width: 88%;
    display: grid;
    grid-template-columns: 14% 68% 20%;
    row-gap: 1vh;

    &_logo{
        height: 65px;
        grid-row: 1/4;
        justify-self: center;
    }

    &_title, &_company, &_applicants {
        grid-column: 2;
    }

    &_title {
        font-size: 20px;
        grid-row: 1;
    }

    &_company {
        grid-row: 2;
    }

    &_applicants {
        grid-row: 3;
    }

    &_buttons {
        grid-column: 3;
        grid-row: 1/4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 18px;

        & >*:hover {
            color: var(--init-gold);
        }

        &_delete {
            all: unset;
            font-weight: 600;
            color: var(--init-blue);
        }
    }


}