.desktopNav {
  height: 9vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  // overflow: hidden;
  // background-color: var(--init-background);
  background-color: #84D0C8 ;
  // background: linear-gradient(
  //   90deg,
  //   rgb(83, 215, 199) 60%,
  //   rgba(12, 189, 189, 1) 90%
  // );
  box-shadow: 0 1px 5px black;
  display: grid;
  grid-template-columns: 15% 8% repeat(4, 12%) 8% 9% 10%;
  align-items: center;
  justify-items: center;

  .desktopNavBarLinks {
    font-size: 21px;
    &_Home {
      grid-column: 3;
        grid-row: 1;
    }

    & a {
      // font-size: 21px;
      // width: fit-content;
      margin: 0;
      padding: 0;
      position: relative;
      top: .5vh;
      & :hover {
        color: var(--init-gold);
      } 
      & span {
        & svg {
          // color: var(--init-charcoal);
         position: relative;
         top: .5vh;
         left: .5vw;
        }
      }
    }
  }
 
  .loginHeader {
    all: unset;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: var(--init-background);
    &_logo {
      height: 8.5vh;
    }
    &_slogan {
      display: none;
    }
  }

  .contactLinks {
    grid-column: 8;
    grid-row: 1;
    // border: 1px solid red;
    & a:nth-of-type(3) {
      display: none;
    }
    & svg {
      height: 1.7em;
      width: 1.7em;
      position: relative;
      top: .4vh;
    
    }
  }
  .darkModeSwitch {
    margin: 0;
    grid-column: 9;
    &_slider {
      background-color: var(--init-blue);
      &::before {
        background-color: var(--init-background);
      }
    }
 
  }
}

.dark .desktopNav {
  background: unset;
    background-color: var(--init-gold);
    border-color: var(--init-darkmint);
    box-shadow: 0 1px 5px var(--init-background);
    & a {
        color: var(--init-dark);
        & :hover {
          color: var(--init-darkmint);
        }
      }
    .loginHeader {
      background-color: var(--init-dark);
        &_logo {
            background-color: var(--init-dark);
        }
        &_slogan {
            color: var(--init-dark);
        }
    }
    .contactLinks {
      & svg {
        color: var(--init-dark);
      }
    }
    .darkModeSwitch {
      &_slider {
        &::before {
          background-color: var(--init-gold);
        }
      }
    }
}

@media (max-width: 1150px) {
  .desktopNav {
    grid-template-columns: 10% 10% repeat(4, 10%) 20% 10% 20%;
  }
}

@media (max-width:975px) {
  .desktopNav {
    grid-template-columns: 10% 2% repeat(4, 15%) 10% 15% 10%;
  }
}
