.loginForm {
    margin-top: 3vh;
    width: 100%;
    grid-template-rows: 9vh 9vh 8vh 10vh;
    row-gap: 1vh;

    &_submitButton {
      font-size: 28px;
    }
}

// DARK MODE
.dark .loginForm {
  & svg {
    color: var(--init-gold);
  }
  &_submitButton {
    color: var(--init-gold);
  }
}

