.navBarLinkDropDown {
  
  background-color: white;
  // background-color: #84d0c8;
  width: 170px;
  z-index: 1000;
  position: absolute;
 top: 6vh;
  // display: grid;
  // grid-auto-rows: 6vh;
  // row-gap: 1vh;
  // align-items: center;
  // justify-items: left;
  // text-indent: 1vw;
  // box-shadow: 0 0 5px black;
  // border-bottom-right-radius: 10px;
  // border-bottom-left-radius: 10px;
  // overflow: hidden;
  // padding-bottom: 1vh;

  &:before {
    content: '';
  position: absolute;
  top: -20px; /* Adjust the height of the arrow */
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent; /* Adjust the width of the arrow */
  border-right: 20px solid transparent; /* Adjust the width of the arrow */
  border-bottom: 20px solid #fff; /* Adjust the color and height of the arrow */
  }

  & a {
    font-weight: 100;
    font-size: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    &:hover {
      background-color: #84d0c8;
      color: var(--init-gold);
      font-weight: 600;
      cursor: pointer;
    }
  }
}
